table,td,tr,th{
   /*  border:1px solid black!important; */
    color:black!important;
    text-align:center!important;
  }
  table,thead{
    width:100%!important;
    text-align: center!important;
    font-weight: normal!important;
    font-size: 12px!important;
  }
  tr,td{
    text-align: center!important;
    font-weight: normal!important;
    font-size: 12px!important;
  }
  .bordernaiaarhaai{
    border:1px solid black!important;
  }
  .onlyBorderTop{
    border-top: 1px solid black!important;
  }
  table,h6{
    text-align: center!important;
  }
  /* 
  @media print {
      @page {
          size: landscape;
      }
    .rotate-content {
      transform: rotate(90deg);
      transform-origin: top left;
      height: 100vh;
      width:100vh;
      position: absolute;
      top: 0;
      left: 100%
    }
  } */