<div class=""[formGroup]="multiDimentionalAnalysisForm">
  <div class="row d-none">
    <div class="col-md-12 mastermenus_top">
      <div class="top-input-label mb-2">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">From Date</label>
              <div class="col-sm-8 top-input">
                <input type="date" name="" class="form-control" id="" formControlName="fromDate">
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">To Date:</label>
              <div class="col-sm-8 top-input">
                <input type="date" name="" class="form-control" id="" formControlName="toDate">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="wmsDataTables">
      <table id="example" class="table table-striped d-table" datatable [dtOptions]="dtOptions" 
        [dtTrigger]="dtTrigger"> 
        <thead>
          <tr>
            <th>S.No</th>
            <th>Stock No</th>
            <th>product ID Name</th>
            <th>Usage</th>
            <th>Price</th>
            <th>Value</th>
            <th>Percentage Usage</th>
            <th>Cummmulative %</th>
            <th>ABC Class</th>
            <th>Coefficient</th>
            <th>XYZ Class</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of abcGroupList?.abcAnalysisGroups;let i=index">
            <td class="text-left">{{i+1}}</td>
          <td>{{data.stockNo}}</td>
          <td>{{data.productMasterInfo?.productIDName}}</td>
          <td>{{data.usage}}</td>
          <td>{{data.unitPrice}}</td>
          <td>{{data.abcGroupValue}}</td>
          <td>{{data.percentageUsage}}</td>
          <td>{{data.cummulative}}</td>
          <td>{{data.abcAnalysisClass}}</td>
          <td>{{data.coefficientVariation}}</td>
          <td>{{data.uncertaintyXYZ}}</td>  
          </tr>
      </tbody>
      </table>
    </div>
  </div>
</div>