
<form [formGroup]="forgotPasswordForm" *ngIf="!yesChangeTemplate">
  <div id="createPassword">
    <div class="container">
      <div class="row ">
        <div class="col-md-11">
          <div class="loginDiv">
            <div class="row">
              <div class="col-md-3">
                <a> <img src="assets/logo_white.png" width="100%" class="img-responsive" alt="" /></a>
                <div class="heading_left">
                  <h6>Warehouse Management System</h6>
                </div>
                <div class="heading_left_para">
                  <p>{{loginPageText}}</p>
                </div>
              </div>
              <div class="col-md-9">
                <div class="create">
                  <h5 class=" NewPassword">
                    RESET PASSWORD
                  </h5>
                  <div class="float-right">
                    <div class="form-group row">
                      <label class="col-sm-5   col-form-label"> Enter E-mail ID:</label>
                      <div class="col-sm-7">
                        <input type="text" formControlName="email" class="form-control"
														[ngClass]="{'valiError': shouldShowErrors('email', forgotPasswordForm)}"
														placeholder="Email" (focus)="onFocusForElement('email')"
														(focusout)="onFocusOutForElement()">
                      </div>
                    </div>
                    <div>
                      <div class="text-center">
                        <button class="btn btn-green mr-1" (click)="send()"> SEND EMAIL </button>
                        <button class="btn btn-white" (click)="clear()"> CLEAR </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>


<form [formGroup]="forgotPasswordForm" *ngIf="yesChangeTemplate">
  <div id="ccscreatePassword">
    <div class="container">
      <div class="row ">
        <div class="col-md-11">
          <div class="ccsloginDiv">
            <div class="row">
              <div class="col-md-3">
                <a><!--  <img src="assets/logo_white.png" width="100%" class="img-responsive" alt="" /> --></a>
                <div class="heading_left">
                <!--   <h6>Warehouse Management System</h6> -->
                </div>
                <div class="heading_left_para">
                  <p>{{loginPageText}}</p>
                </div>
              </div>
              <div class="col-md-9">
                <div class="create">
                  <h5 class=" NewPassword">
                    RESET PASSWORD
                  </h5>
                  <div class="float-right">
                    <div class="form-group row">
                      <label class="col-sm-5   col-form-label"> Enter E-mail ID:</label>
                      <div class="col-sm-7">
                        <input type="text" formControlName="email" class="form-control"
														[ngClass]="{'valiError': shouldShowErrors('email', forgotPasswordForm)}"
														placeholder="Email" (focus)="onFocusForElement('email')"
														(focusout)="onFocusOutForElement()">
                      </div>
                    </div>
                    <div>
                      <div class="text-center">
                        <button class="btn btn-green mr-1" (click)="send()"> SEND EMAIL </button>
                        <button class="btn btn-white" (click)="clear()"> CLEAR </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
