<div id="inBody" [formGroup]="sZoneConfig" [dir]="direction">
  <div class="row">
    <div class="col-md-12">
      <div class="panel portlet">
        <div class="formBox portlet-title">
          <div class="row">
            <div class="panel-heading formTitle w-auto">
              <h4>{{'Space Zone Config' |translate}}</h4>
              <div class="float-right"><span class="clickable"><i class="fa fa-angle-up" aria-hidden="true"></i></span>
                | <i class="material-icons fullscreen"> unfold_less </i> </div>
            </div>
            <div class="formTitleHover">
              <h4>{{'Space Zone Config' |translate}}
                <div class="float-right"><i class="material-icons fullscreen"> close </i></div>
              </h4>
            </div>
          </div>
          <div id="style-8" class="panel-body scrollbar" style="height: 114px;">
            <div class="row force-overflow">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">{{'Supplier' |translate}}
                      </label>
                      <div class="col-sm-9">
                        <ng2-completer  class="'form-control form-control-inline'"
                          [datasource]="suppierValueDetailsIds" formControlName="supplierIDName" [minSearchLength]="0"
                          placeholder="{{'Supplier' |translate}}">
                        </ng2-completer>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">{{'Zone' |translate}}
                      </label>
                      <div class="col-sm-9">
                        <ng-multiselect-dropdown [placeholder]="'Select'" [settings]="dropdownSettings"
                          [data]="zoneValueDetailsIds" [(ngModel)]="zoneNames"  [ngModelOptions]="{standalone: true}">
                        </ng-multiselect-dropdown>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="text-right">
            <button class="btn btn-green mr-2" (click)="save()">{{'Save' |translate}}</button>
            <button class="btn btn-white" (click)="clear()">{{'Clear' |translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top:-10px;">
    <div class="col-md-12">
      <div class="wmsDataTables">
        <p class="maintainTableHeader">{{'Space Zone Config' |translate}}</p>
        <table id="example" class="table table-striped">
         <!-- datatable 
        [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"> -->
          <thead>
            <tr>
              <th scope="col">{{'S.No' |translate}}</th>
              <th scope="col">{{'Supplier' |translate}}</th>
              <th scope="col">{{'Zone' |translate}}</th>
              <th scope="col">{{'Action' |translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of getAllDataList;let i=index">
             <td class="text-left">{{i+1}}</td>
              <td>{{data.supplierIDName}}</td>
              <td>{{data.zoneNames}}</td>
              <td><span class="btn btn-pink btn-sm"><i class="fa fa-pencil btn-sm" (click)="edit(data)"></i><i
                    class="fa fa-trash btn-blue"></i></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>