<div id="inBody">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-6">
        <div class="panel portlet">
          <div class="formBox portlet-title">
            <div class="row">
              <div class="panel-heading formTitle">
                <h4> PURCHASE ORDER HEADER </h4>
                <div class="float-right"><span class="clickable"><i class="fa fa-angle-up"
                      aria-hidden="true"></i></span>
                  | <i class="material-icons fullscreen"> unfold_less </i> </div>
              </div>
              <div class="formTitleHover">
                <h4> PURCHASE ORDER HEADER
                  <div class="float-right"><i class="material-icons fullscreen"> close </i></div>
                </h4>
              </div>
            </div>
            <div id="style-8" class="panel-body scrollbar">
              <div class="row force-overflow">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Equipment ID <i class="red">*</i>
                    </label>
                    <div class="col-sm-8">
                     <input type="text" name=""class="form-control" id="">
                    </div>
                  </div>
                  <div class="form-group row">
                     <label class="col-sm-4 col-form-label">Equipment Name <i class="red">*</i>
                    </label>
                    <div class="col-sm-8">
                      <input type="text" name=""class="form-control" id="">
                    </div>
                  </div>
                  <div class="form-group row">

                    <label class="col-sm-4 col-form-label">Equipment ID Name
                   </label>
                   <div class="col-sm-8">
                    <input type="text" name=""class="form-control" id="">
                   </div>
                 </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Length
                    </label>
                    <div class="col-sm-4">
                      <input type="text" name=""class="form-control" id="">
                    </div>
                    <div class="col-sm-4">
                      <input type="text" name=""class="form-control" id="">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Width</label>
                    <div class="col-sm-4">
                      <input type="text" name=""class="form-control" id="">
                    </div>
                    <div class="col-sm-4">
                      <input type="text" name=""class="form-control" id="">
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Equipment Type
                    </label>
                    <div class="col-sm-8">
                      <input type="text" name=""class="form-control" id="">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Height</label>
                    <div class="col-sm-4">
                      <input type="text" name=""class="form-control" id="">
                    </div>
                    <div class="col-sm-4">
                      <input type="text" name=""class="form-control" id="">
                    </div>
                  </div>

                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Volume</label>
                    <div class="col-sm-4">
                      <input type="text" name=""class="form-control" id="">
                    </div>
                    <div class="col-sm-4">
                      <input type="text" name=""class="form-control" id="">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Weight</label>
                    <div class="col-sm-4">
                      <input type="text" name=""class="form-control" id="">
                    </div>
                    <div class="col-sm-4">
                      <input type="text" name=""class="form-control" id="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel portlet">
          <div class="formBox portlet-title">
            <div class="row">
              <div class="panel-heading formTitle">
                <h4> PURCHASE ORDER LINES </h4>
                <div class="float-right"><span class="clickable"><i class="fa fa-angle-up"
                      aria-hidden="true"></i></span> | <i class="material-icons fullscreen"> unfold_less </i>
                </div>
              </div>
              <div class="formTitleHover">
                <h4> PURCHASE ORDER LINES
                  <div class="float-right"><i class="material-icons fullscreen"> close </i></div>
                </h4>
              </div>
            </div>
            <div id="style-8" class="panel-body scrollbar">
              <div class="row force-overflow">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">No of Shifts
                    </label>
                    <div class="col-sm-8">
                      <input type="text" name=""class="form-control" id="">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Hours Per
                    </label>
                    <div class="col-sm-8">
                      <input type="text" name=""class="form-control" id="">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Day Capacity
                    </label>
                    <div class="col-sm-8">
                      <input type="text" name=""class="form-control" id="">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">No of Days Per Week
                    </label>
                    <div class="col-sm-8">
                      <input type="text" name=""class="form-control" id="">
                          </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Weekly Capacity
                    </label>
                    <div class="col-sm-8">
                      <input type="text" name=""class="form-control" id="">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Utilization
                    </label>
                    <div class="col-sm-8">
                      <input type="text" name=""class="form-control" id="">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Efficiency
                    </label>
                    <div class="col-sm-8">
                      <input type="text" name=""class="form-control" id="">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Sequence Number
                    </label>
                    <div class="col-sm-8">
                      <input type="text" name=""class="form-control" id="">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Rate/Hr
                    </label>
                    <div class="col-sm-8">
                      <input type="text" name=""class="form-control" id="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel portlet">
          <div class="formBox portlet-title">
            <div class="row">
              <div class="panel-heading formTitle">
                <h4>Maintenance Service Details</h4>
                <div class="float-right"><span class="clickable"><i class="fa fa-angle-up"
                      aria-hidden="true"></i></span> | <i class="material-icons fullscreen"> unfold_less </i>
                </div>
              </div>
              <div class="formTitleHover">
                <h4>Maintenance Service Details</h4>
                <div class="float-right"><span class="clickable"><i class="fa fa-angle-up"
                      aria-hidden="true"></i></span> | <i class="material-icons fullscreen"> unfold_less </i>
                </div>
              </div>
            </div>
            <div id="style-8" class="panel-body scrollbar">
              <div class="row force-overflow">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">No of Shifts
                    </label>
                    <div class="col-sm-8">
                      <input type="text" name=""class="form-control" id="">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Hours Per
                    </label>
                    <div class="col-sm-8">
                      <input type="text" name=""class="form-control" id="">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Day Capacity
                    </label>
                    <div class="col-sm-8">
                      <input type="text" name=""class="form-control" id="">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">No of Days Per Week
                    </label>
                    <div class="col-sm-8">
                      <input type="text" name=""class="form-control" id="">
                          </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Weekly Capacity
                    </label>
                    <div class="col-sm-8">
                      <input type="text" name=""class="form-control" id="">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Utilization
                    </label>
                    <div class="col-sm-8">
                      <input type="text" name=""class="form-control" id="">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Efficiency
                    </label>
                    <div class="col-sm-8">
                      <input type="text" name=""class="form-control" id="">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Sequence Number
                    </label>
                    <div class="col-sm-8">
                      <input type="text" name=""class="form-control" id="">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Rate/Hr
                    </label>
                    <div class="col-sm-8">
                      <input type="text" name=""class="form-control" id="">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="wmsDataTables ">
          <table id="example" class="table table-striped d-table " datatable [dtOptions]="dtOptions"
            [dtTrigger]="dtTrigger">
            <thead>
              <tr>
                <th scope="col">Equipment ID</th>
                <th scope="col">Equipment Name</th>
                <th scope="col">Planned Date</th>
                <th scope="col">Actual Start Date</th>
                <th scope="col">Actual End Date</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Eq1012</td>
                <td>MRLS</td>
                <td>01-02-2023</td>
                <td>02-03-2023</td>
                <td>03-03-2023</td>
                <td>Completed</td>
                <td><span _ngcontent-lty-c40="" class="btn btn-pink btn-sm"><i _ngcontent-lty-c40=""
                  class="fa fa-pencil btn-sm"></i><i _ngcontent-lty-c40=""></i></span>
            </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
