<!DOCTYPE html>
<html>
<head>
<meta content="text/html; charset=utf-8" />
<title>Account Activation</title>
<style>
td > center > b > a[href] {
color: #5669e6 !important;
text-decoration: none !important;
}

td > center > b > span > a[href] {
color: #b9b7b6 !important;
text-decoration: none !important;
}
</style>
<style>
.undoreset a, .undoreset a:hover { text-decoration: none !important; }

</style>
</head>

<body bgcolor="#f7f4f0" x-ms-format-detection="none">
<table width="100%" border="0" style="border-spacing:50px !important; border-collapse: separate !important; margin:auto;" cellpadding="0" bgcolor="#f7f4f0">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
         	<td>$header</td>
        </tr>
        <tr>
          <td>
                <table width="100%" border="0" cellspacing="0" cellpadding="20" bgcolor="#ffffff">
                    <tr>
                      <td>
                    <table width="100%" border="0" cellspacing="20" cellpadding="0" bgcolor="#ffffff">
                      <tbody><tr>
                      <td width="100%">
                      	<p style="color:#000000;font-family:Gotham,'Arial',Helvetica,Arial,sans-serif;font-size:14px">
                          Dear $userName
                        </p>
                        </td>
                     </tr>
                      <tr>
                      <td width="100%">
                      	<p style="color:#000000;font-family:Gotham,'Arial',Helvetica,Arial,sans-serif;font-size:14px;margin:  0px;">
                        Congratulations on your new subscription and welcome on board! Get started with your subscription now. We hope you enjoy our service.
                        </p>
                        </td>
                      </tr>
						<tr>
						    <td><b>Your subscription details are:</b></td>
						</tr>
					 <tr>
                      <td width="100%">
                      	<p style="color:#000000;font-family:Gotham,'Arial',Helvetica,Arial,sans-serif;font-size:14px;margin: 0px;">
    						User Name : <b>$username</b>
                        </p>
                        </td>
                     </tr>
						<tr>
                      <td width="100%">
                      	<p style="color:#000000;font-family:Gotham,'Arial',Helvetica,Arial,sans-serif;font-size:14px;margin: 0px;">Plan: <b>$productName</b></p>
                        </td>
                     </tr>
					<tr>
                      <td width="100%">
                      	<p style="color:#000000;font-family:Gotham,'Arial',Helvetica,Arial,sans-serif;font-size:14px;margin:  0px;">Price: <b>$$productPrice</b></p>
                        </td>
                     </tr>
					 <tr>
                      <td width="100%">
                      	<p style="color:#000000;font-family:Gotham,'Arial',Helvetica,Arial,sans-serif;font-size:14px;margin:  0px;">Your subscription is valid from <b>$priceDate</b> to <b>$priceExpiryDate</b>.</p>
                        </td>
                     </tr><tr>
                      <td width="100%">
                      	<b style="color:#000000;font-family:Gotham,'Arial',Helvetica,Arial,sans-serif;font-size:14px">To activate your account click the below link:</b>
                        </td>
                     </tr>
					<tr>
                      <td width="100%">
                      	<b><a href="$url" target="_blank" style="color:#5669e6; font-family:Gotham, 'Arial', Helvetica, Arial, sans-serif; text-decoration: none;">  $url</a> </b>
                        </td>
                     </tr>
					<tr>
                      <td width="100%">
                      	<b style="color:#000000;font-family:Gotham,'Arial',Helvetica,Arial,sans-serif;font-size:14px">Thank You</b>
                        </td>
                     </tr>
					<tr>
                      <td width="100%">
                      	<p style="color:#000000;font-family:Gotham,'Arial',Helvetica,Arial,sans-serif;font-size:14px;margin:  0px;">Team casetrackerpro</p>
                        </td>
                     </tr>
                      <!-- <tr>
                        <td>
                     		<b><a style="color:#5669e6;font-family:Gotham,'Arial',Helvetica,Arial,sans-serif;text-decoration:none">  </a><a href="http://192.168.0.56:8080/AttorneyWeb/#!/home/activateAccount/cmFtYW5h" target="_blank" data-saferedirecturl="https://www.google.com/url?q=http://192.168.0.56:8080/AttorneyWeb/%23!/home/activateAccount/cmFtYW5h&amp;source=gmail&amp;ust=1529735080148000&amp;usg=AFQjCNGlqbyOb1Z0BgMYlCEmXj1pwZZ_aA">Account Activation</a> </b>
                        </td>
                      </tr> -->
                   </tbody>
                   </table>
                   
                   
                   </td>
                    </tr>
                  </table>
            
            </td>
        </tr>
        
        <tr>
          <td>$footer</td>
        </tr>
      </table></td>
  </tr>
  <tr></tr>
</table>
</body>
</html>
                        
                      