<!doctype html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"
<html>
<head>
<meta content="text/html; charset=utf-8">
<title>Password Change Confirmation</title>
<style>
td > center > b > a[href] {
color: #5669e6 !important;
text-decoration: none;
}

td > center > b > span > a[href] {
color: #b9b7b6 !important;
text-decoration: none;
}
</style>
<style>
.undoreset a, .undoreset a:hover { text-decoration: none !important; }

</style>
</head>

<body bgcolor="#f7f4f0" x-ms-format-detection="none">
<table width="100%" border="0" style="margin:auto; border-spacing:50px !important; border-collapse: separate !important;" cellpadding="50" bgcolor="#f7f4f0">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td>$header</td>
        </tr>
        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="20" bgcolor="#ffffff">
              
             
              <tr>
                <td width="5%"></td>
                <td width="90%"><table width="100%" border="0" cellspacing="0" cellpadding="20" bgcolor="#ffffff">
                    <tr>
                    	<td>
                    		</br>
                    	</td>
                    </tr>
                    <tr>
                      <td width="100%"><center style="color:#7686f2; font-family:Gotham, 'Arial', Helvetica, Arial, sans-serif; font-size:24px;">
                          Password Update
                        </center></td>
                    </tr>
                    <tr>
                      <td width="100%">
                      <center style="color:#000000; font-family:Gotham, 'Arial', Helvetica, Arial, sans-serif; font-size:14px;">
                          Your Care Heroes password was successfully updated.
                        </center>
                        <br/>
                        <center style="color:#000000; font-family:Gotham, 'Arial', Helvetica, Arial, sans-serif; font-size:14px;">
                        If you didn't make this change contact Care Heroes support at  <br><b class="footer_text" style="color:#5669e6; font-family:Gotham, 'Arial', Helvetica, Arial, sans-serif;">(877) 763-3343</b> or <b> <a class="footer_text" style="color:#5669e6; font-family:Gotham, 'Arial', Helvetica, Arial, sans-serif; text-decoration: none;" href="mailto:support@careheroes.co" target="_blank">support@careheroes.co</a></b>. Otherwise, you're all set.
                        </center>
                  
                        </td>
                    </tr>
                    
                    <tr>
                    	<td>
                    	    
                        <center>
                                <a href="$login"><img src="$logoUrl" width="171" height="48"  border="0" alt=""/></a>
                              </center>
                    	</td>
                    </tr>
                     
                          <tr>
                    	<td>
                    		</br>
                    		</br>
                    	</td>
                    </tr>
                  </table></td>
                <td width="5%"></td>
              </tr>
            </table></td>
        </tr>
        <tr>
         	<td>$footer</td>
        </tr>
      </table></td>
  </tr>
  <tr></tr>
</table>
</body>
</html>
