<div id="inBody" [dir]="direction">
  <form [formGroup]="accountingSpaceUtilizationForm">
    <div class="col-md-12">
      <!-- <div class="row">
        <div class="col-md-12">
          <div class="udcBtns float-right">
            <ul>
              <li><a> <i class="material-icons align-middle"> open_in_browser
                  </i>Upload Excel
                </a>
              </li>
              <li value="Download Excel"><a> <i class="material-icons align-middle"> get_app
                  </i> Download Excel </a>
              </li>
            </ul>
          </div>
        </div>
      </div> -->
      <div class="row">
        <div class="col-md-12">
          <div class="panel portlet">
            <div class="formBox portlet-title">
              <div class="row">
                <div class="panel-heading formTitle w-auto">
                  <h4>{{'Space Utilization' |translate}}</h4>
                  <div class="float-right"><span class="clickable"><i class="fa fa-angle-up"
                        aria-hidden="true"></i></span> | <i class="material-icons fullscreen"> unfold_less </i> </div>
                </div>
                <div class="formTitleHover">
                  <h4>{{'Space Utilization' |translate}}
                    <div class="float-right"><i class="material-icons fullscreen"> close </i></div>
                  </h4>
                </div>
              </div>
              <div id="style-8" class="panel-body scrollbar" style="height:100px;">
                <div class="row force-overflow">
                  <div class="col-md-4">
                    <div class="form-group row">
                      <label class="col-sm-5 col-form-label">{{'Supplier' |translate}}</label>
                      <div class="col-sm-6">
                        <ng2-completer name="supplierIDName" [datasource]="dataService" [minSearchLength]="0"
                          placeholder="{{'Supplier' |translate}}" formControlName="supplierIDName"
                          (selected)="getZoneDetails($event)" [inputClass]="'form-control form-control-inline'">
                        </ng2-completer>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-5 col-form-label">{{'Zone' |translate}}
                      </label>
                      <div class="col-sm-7">
                        <ng-multiselect-dropdown [placeholder]="'Select'" [settings]="dropdownSettings"
                          [data]="zoneValueDetailsIds" [(ngModel)]="zoneNames" [ngModelOptions]="{standalone: true}">
                        </ng-multiselect-dropdown>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">{{'From Date' |translate}}</label>
                      <div class="col-sm-8">
                        <input id="date" name="date" placeholder="{{'date' |translate}}" formControlName="fromDate"
                          class="form-control" type="date">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">{{'To Date' |translate}}</label>
                      <div class="col-sm-8">
                        <input id="date" name="date" placeholder="{{'date' |translate}}" formControlName="toDate"
                          class="form-control" type="date" (change)="filterDataFromDates()">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">{{'Opening Balance' |translate}}</label>
                      <div class="col-sm-4">
                        <input type="text" name="" class="form-control" id="" formControlName="openingBalance"
                          placeholder="{{'Opening Balance' |translate}}">
                      </div>
                      <div class="col-sm-4">
                        <select class="form-control" id="openingBalanceUom" name="openingBalanceUom"
                          formControlName="openingBalanceUom">
                          <option [ngValue]="null">--Select--</option>
                          <option *ngFor="let data of unitsList" [ngValue]="data.unitCode">
                            {{data.unitCode}}</option>
                        </select>
                        <!--   <select name="" class="form-control" id="" formControlName="openingBalanceUom">
                        <option [value]="data.unitCode" *ngFor="let data of unitsList">--Select--</option>
                        <option>{{data.unitCode}}</option>
                      </select> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12"style="margin-top:-18px">
          <div class="text-right">
            <button class="btn btn-green m-1" (click)="generate()">{{'Generate' |translate}}</button>
            <button class="btn btn-green m-1" value="Save" (click)="save()"
              [disabled]="accountingSpaceUtilizationForm.invalid">{{'SAVE' |translate}}</button>
            <button class="btn btn-white" value="Clear" (click)="clear()">{{'CLEAR' |translate}}</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="wmsDataTables" style="min-height:auto;overflow-y: hidden;">
            <div class="row">
              <div class="col-md-0.5 pr-0">
                <label>Show</label>
              </div>
             <div class="col-md-1"><select [(ngModel)]="itemsPerPage"
                  (change)="fetchAllD(page=1,$event)" class="form-control" [ngModelOptions]="{standalone: true}">
                  <option>5</option>
                  <option>10</option>
                  <option>25</option>
                  <option>50</option>
                </select></div>
              <div class="col-md-0.5 pl-0"><label>Entries</label>
              </div>
              <div class="col-md-9"></div>
              <div class="col-md-1">
                <input type="text" [(ngModel)]="searchKey" placeholder="Search..." [ngModelOptions]="{standalone: true}"
                  (keyup)="this.fetchAllThirdPartySpaceUtilizationDetails(page=1, itemsPerPage);">
              </div>
            </div>
            <table class="table table-striped">
              <thead>
                <tr style="background-color:'blueviolet'">
                  <th *ngFor="let key of tableHeadings">{{key |translate}} <i class="fa fa-sort-asc"
                      (click)="setDirection('ASC',key)" aria-hidden="true"></i> <i class="fa fa-sort-desc" style="    position: relative;
                      left: -7px;" aria-hidden="true" (click)="setDirection('DESC',key)"></i></th>
                </tr>
              </thead>
              <tbody>
                <tr
                  *ngFor="let data of thirdPartySpaceUtilizationsList | paginate: {itemsPerPage: itemsPerPage,currentPage: page,totalItems: totalItems};let i=index;">
                  <td class="text-left">{{((page-1) * itemsPerPage)+i+1}}</td>
                  <td>{{data.supplierIDName}}</td>
                  <td>{{data.zoneNames}}</td>
                  <td>{{data.date | date: 'MM/dd/yyyy'}}</td>
                  <td>{{data.totalArea}}</td>
                  <td>{{data.openingBalance |decimalwithThreeDigits}} {{ data.openingBalanceUom}}</td>
                  <td><input type="number" name="in" [(ngModel)]="data.in" [ngModelOptions]="{standalone: true}" value=0
                      class="form-control" (focusout)="updateFunction(data,$event,i)"></td>
                  <td><input type="number" name="out" [(ngModel)]="data.out" [ngModelOptions]="{standalone: true}"
                      value=0 class="form-control" (focusout)="updateFunction(data,$event,i)"></td>
                  <td>{{data.occupied |decimalwithThreeDigits}}</td>
                  <td>{{data.pallet |decimalwithThreeDigits}}</td>
                  <td>{{data.openingBalanceConversionValue |decimalwithThreeDigits}}</td>
                  <td><span _ngcontent-lty-c40="" class="btn btn-pink btn-sm"><i _ngcontent-lty-c40=""
                        class="fa fa-trash btn-blue" (click)="delete(data)"></i></span>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="row mt-2">
              <div class="col-md-12" style="text-align: end;">
                <pagination-controls class="pagi"
                  (pageChange)="fetchAllThirdPartySpaceUtilizationDetails((page = $event))">
                </pagination-controls>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  <div class="row">
        <div class="col-md-12">
          <div id="scrolTable" class="wmsDataTables">
            <table id="example" data-page-length='5' class="table table-striped d-table" datatable
              [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
              <thead>
                <tr>
                  <th scope="col">{{'S.No' |translate}}</th>
                  <th scope="col">{{'SupplierIDName' |translate}}</th>
                  <th scope="col">{{'Zone Names' |translate}}</th>
                  <th scope="col">{{'Date' |translate}}</th>
                  <th scope="col">{{'Total Area' |translate}}</th>
                  <th scope="col">{{'Openinng Balance' |translate}}</th>
                  <th scope="col">{{'In' |translate}}</th>
                  <th scope="col">{{'Out' |translate}}</th>
                  <th scope="col">{{'Occupied' |translate}}</th>
                  <th scope="col">{{'Pallet' |translate}}</th>
                  <th scope="col">{{'Opening Balance' |translate}}<span *ngIf="thirdPartySpaceUtilizationsList.length>0">({{thirdPartySpaceUtilizationsList[0].openingBalanceConversionUom}})</span></th>
                  <th scope="col">{{'Action' |translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of thirdPartySpaceUtilizationsList;let  i = index">
                  <td>{{i +1}}</td>
                  <td>{{data.supplierIDName}}</td>
                  <td>{{data.zoneNames}}</td>
                  <td>{{data.date | date: 'MM/dd/yyyy'}}</td>
                  <td>{{data.totalArea}}</td>
                  <td>{{data.openingBalance |decimalwithThreeDigits}} {{ data.openingBalanceUom}}</td>
                  <td><input type="number" name="in" [(ngModel)]="data.in" [ngModelOptions]="{standalone: true}" value=0
                      class="form-control" (focusout)="updateFunction(data,$event,i)"></td>
                  <td><input type="number" name="out" [(ngModel)]="data.out" [ngModelOptions]="{standalone: true}"
                      value=0 class="form-control" (focusout)="updateFunction(data,$event,i)"></td>
                  <td>{{data.occupied |decimalwithThreeDigits}}</td>
                  <td>{{data.pallet |decimalwithThreeDigits}}</td>
                  <td>{{data.openingBalanceConversionValue |decimalwithThreeDigits}}</td>
                  <td><span _ngcontent-lty-c40="" class="btn btn-pink btn-sm"><i _ngcontent-lty-c40=""
                        class="fa fa-trash btn-blue" (click)="delete(data)"></i></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div> -->
    </div>
  </form>
</div>
<app-delete-popup [getInfo]="deleteInfo" (sendConfirmation)="getConfirmation($event)"></app-delete-popup>