<div id="inBody" *ngIf="permissionsList.includes('View')" [dir]="direction">
  <div class="col-md-12">
    <form #equipmentForm="ngForm">
      <div class="row" *ngIf="permissionsList.includes('Update')">
        <div class="col-md-12">
          <div class="udcBtns float-right">
            <a (click)="getFile()"><img src="assets/Export.png" title="Upload Excel" alt=""
                style="width: 25px;height: 23px;margin-right: 16px;">
              <input id="upfile" class="hidden" type="file" accept=".xlsx" (change)="uploadExcel($event)">
            </a>
            <a value="Log File" *ngIf="failureRecords.length > 0"><img src="assets/Log file 2.png" title="Log File"
                alt="" style="width: 25px;height: 23px;margin-right: 10px;" (click)="downloadLogFile()">
            </a>
            <a>
              <button type="button" value="Download Excel" (click)="exportAsXLSX()" title="Download Excel"
                style="background: none !important;border: none !important;">
                <img src="assets/Import.png" alt="" style="width: 25px;height: 23px;">
              </button>
            </a>
            <!-- <ul>
              <li (click)="getFile()"><a> <i class="material-icons align-middle"> open_in_browser
                  </i>{{'Upload Excel' |translate}}<input id="upfile" class="hidden" type="file" accept=".xlsx" (change)="uploadExcel($event)">
                </a>
              </li>
              <li value="Log File" *ngIf="failureRecords.length > 0"><a (click)="downloadLogFile()"> <i class="material-icons align-middle"> description
                </i> Log File </a>
              </li>
              <li value="Download Excel" (click)="exportAsXLSX()"><a> <i class="material-icons align-middle"> get_app
                  </i>{{'Download Excel' |translate}}</a>
              </li>
            </ul> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="panel portlet">
            <div class="formBox portlet-title">
              <div class="row">
                <div class="panel-heading formTitle">
                  <h4>{{'EQUIPMENT DETAILS' |translate}}</h4>
                  <div class="float-right"><span class="clickable"><i class="fa fa-angle-up"
                        aria-hidden="true"></i></span> | <i class="material-icons fullscreen"> unfold_less </i> </div>
                </div>
                <div class="formTitleHover">
                  <h4>{{'EQUIPMENT DETAILS' |translate}}
                    <div class="float-right"><i class="material-icons fullscreen"> close </i>
                    </div>
                  </h4>
                </div>
              </div>
              <div id="style-8" class="panel-body scrollbar">
                <div class="row force-overflow">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">{{'Equipment ID' |translate}}<i class="red">*</i>
                      </label>
                      <div class="col-sm-8">
                        <input id="equipmentID" name="equipmentID" #equipmentID="ngModel"
                          [(ngModel)]="equipmentDetails.equipmentID" placeholder="{{'Equipment ID' |translate}}"
                          class="form-control" required type="text" (keyup)="getEquipmentIDName()"
                          [readonly]="makeReadOnly">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">{{'Equipment Name' |translate}}<i class="red">*</i>
                      </label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="equipmentName" name="equipmentName"
                          #equipmentName="ngModel" (keyup)="getEquipmentIDName()" required
                          [(ngModel)]="equipmentDetails.equipmentName" placeholder="{{'Equipment Name' |translate}}"
                          [readOnly]="makeReadOnly">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">{{'Equipment ID Name' |translate}}
                      </label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="equipmentIDName" name="equipmentIDName"
                          #equipmentIDName="ngModel" [(ngModel)]="equipmentDetails.equipmentIDName"
                          placeholder="{{'Equipment ID Name' |translate}}" readonly>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">{{'Length' |translate}}
                      </label>
                      <div class="col-sm-4">
                        <input type="text" class="form-control" id="length" name="length" #length="ngModel"
                          (keyup)="getVolumeCalculation()" [(ngModel)]="equipmentDetails.length"
                          placeholder="{{'Length' |translate}}" [readOnly]="makeReadOnly">
                      </div>
                      <div class="col-sm-4">
                        <select name="uomLength" class="form-control newDropDown" id="uomLength" #uomLength="ngModel"
                          [(ngModel)]="equipmentDetails.uomLength" [disabled]="makeThisDisabled">
                          <option [ngValue]="null" [selected]="true">--Select--</option>
                          <option [ngValue]="data.unitCode" *ngFor="let data of units">{{data.unitCode}}</option>
                        </select>
                      </div>
                    </div>

                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">{{'Equipment Type' |translate}}
                      </label>
                      <div class="col-sm-8">
                        <select class="form-control" name="equipmentType" id="equipmentType"
                          [(ngModel)]="equipmentDetails.equipmentType" [disabled]="makeThisDisabled">
                          <option [ngValue]="null">--Select--</option>
                          <option *ngFor="let data of equipmentType" [ngValue]="data.name">{{data.name}}</option>
                        </select>
                        <!--  <input type="text" class="form-control" id="equipmentType"
                         name="equipmentType"
                          #equipmentType [(ngModel)]="equipmentDetails.typeOfEquipment" required
                          placeholder="{{'Equipment Type' |translate}}"> -->
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">{{'Height' |translate}}</label>
                      <div class="col-sm-4">
                        <input type="text" class="form-control" id="height" name="height" #height="ngModel"
                          (keyup)="getVolumeCalculation()" [(ngModel)]="equipmentDetails.height"
                          placeholder="{{'Height' |translate}}" [readOnly]="makeReadOnly">
                      </div>
                      <div class="col-sm-4">
                        <select name="uomHeight" class="form-control newDropDown" id="uomHeight" #uomHeight="ngModel"
                          [(ngModel)]="equipmentDetails.uomHeight" [disabled]="makeThisDisabled">
                          <option [ngValue]="null" [selected]="true">--Select--</option>
                          <option [ngValue]="data.unitCode" *ngFor="let data of units">{{data.unitCode}}</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">{{'Volume' |translate}}</label>
                      <div class="col-sm-4">
                        <input type="text" class="form-control" id="volume" name="volume" #volume="ngModel"
                          [(ngModel)]="equipmentDetails.volume" readonly placeholder="{{'Volume' |translate}}"
                          [readOnly]="makeReadOnly">
                      </div>
                      <div class="col-sm-4">
                        <select name="uomVolume" class="form-control newDropDown" id="uomVolume" #uomVolume="ngModel"
                          [(ngModel)]="equipmentDetails.uomVolume" [disabled]="makeThisDisabled">
                          <option [ngValue]="null" [selected]="true">--Select--</option>
                          <option [ngValue]="data.unitCode" *ngFor="let data of units">{{data.unitCode}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">{{'Weight' |translate}}</label>
                      <div class="col-sm-4">
                        <input type="text" class="form-control" #weight="ngModel" [(ngModel)]="equipmentDetails.weight"
                          id="Weight" name="Weight" placeholder="{{'Weight' |translate}}" [readOnly]="makeReadOnly">
                      </div>
                      <div class="col-sm-4">
                        <select name="uomWeight" class="form-control newDropDown" id="uomWeight" #uomWeight="ngModel"
                          [(ngModel)]="equipmentDetails.uomWeight" [disabled]="makeThisDisabled">
                          <option [ngValue]="null" [selected]="true">--Select--</option>
                          <option [ngValue]="data.unitCode" *ngFor="let data of units">{{data.unitCode}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">{{'Width' |translate}}</label>
                      <div class="col-sm-4">
                        <input type="text" class="form-control" id="width" name="width" #width="ngModel"
                          (keyup)="getVolumeCalculation()" [(ngModel)]="equipmentDetails.width"
                          placeholder="{{'Width' |translate}}">
                      </div>
                      <div class="col-sm-4">
                        <select name="uomWidth" class="form-control newDropDown" id="uomWidth" #uomWidth="ngModel"
                          [(ngModel)]="equipmentDetails.uomWidth" [disabled]="makeThisDisabled">
                          <option [ngValue]="null" [selected]="true">--Select--</option>
                          <option [ngValue]="data.unitCode" *ngFor="let data of units">{{data.unitCode}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row drop-status">
            <label class="col-sm-2 col-form-label">Status:</label>
            <div class="col-sm-3 m-0">
              <select class="form-control" id="status" name="status" [(ngModel)]="equipmentDetails.status"
                #status="ngModel" required [disabled]="makeThisDisabled">
                <option value="">Select</option>
                <option *ngFor="let key of statuss" value="{{key}}">{{key}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel portlet">
            <div class="formBox portlet-title">
              <div class="row">
                <div class="panel-heading formTitle">
                  <h4>{{'EQUIPMENT ATTRIBUTES' |translate}}</h4>
                  <div class="float-right"><span class="clickable"><i class="fa fa-angle-up"
                        aria-hidden="true"></i></span> | <i class="material-icons fullscreen"> unfold_less </i> </div>
                </div>
                <div class="formTitleHover">
                  <h4>{{'EQUIPMENT ATTRIBUTES' |translate}}
                    <div class="float-right"><i class="material-icons fullscreen"> close </i>
                    </div>
                  </h4>
                </div>
              </div>
              <div id="style-8" class="panel-body scrollbar">
                <div class="row force-overflow">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">{{'No of Shifts' |translate}}
                      </label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="noOfshifts" name="noofShifts"
                          #noOfshifts="ngModel" [(ngModel)]="equipmentDetails.noofShifts"
                          placeholder="{{'No of Shifts' |translate}}" (keyup)="getDayCapacity()"
                          [readOnly]="makeReadOnly">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">{{'Hours Per' |translate}}
                      </label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="hoursPerShift"
                          placeholder="{{'Hours Per Shifts' |translate}}" name="hoursPerShift" #hoursPerShift="ngModel"
                          [(ngModel)]="equipmentDetails.hoursPerShift" (keyup)="getDayCapacity()"
                          [readOnly]="makeReadOnly">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">{{'Day Capacity' |translate}}
                      </label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="daysCapacity"
                          placeholder="{{'Day Capacity' |translate}}" name="daysCapacity" #daysCapacity="ngModel"
                          [(ngModel)]="equipmentDetails.daysCapacity" readonly>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">{{'No of Days Per Week' |translate}}
                      </label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="noOfDaysPerWeek"
                          placeholder="{{'No of Days Per Week' |translate}}" name="noOfDaysPerWeek"
                          #noOfDaysPerWeek="ngModel" (keyup)="getWeeklyCapacity()"
                          [(ngModel)]="equipmentDetails.noOfDaysPerWeek" [readOnly]="makeReadOnly">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">{{'Rate/Hr' |translate}}
                      </label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="equipmentRate"
                          placeholder="{{'Rate/Hr' |translate}}" name="rateHr"
                          [(ngModel)]="equipmentDetails.equipmentRate" [readOnly]="makeReadOnly">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">{{'Weekly Capacity' |translate}}
                      </label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="weeklyCapacity"
                          placeholder="{{'Weekly Capacity' |translate}}" name="weeklyCapacity" #weeklyCapacity="ngModel"
                          [(ngModel)]="equipmentDetails.weeklyCapacity" readonly>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">{{'Utilization' |translate}}
                      </label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="utilization"
                          placeholder="{{'Utilization' |translate}}" name="utilization" #utilization="ngModel"
                          [(ngModel)]="equipmentDetails.utilization" [readOnly]="makeReadOnly">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">{{'Efficiency' |translate}}
                      </label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="effciency"
                          placeholder="{{'Efficiency' |translate}}" name="efficiency" #efficiency="ngModel"
                          [(ngModel)]="equipmentDetails.efficiency" [readOnly]="makeReadOnly">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">{{'Sequence Number' |translate}}
                      </label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="sequenceNumber"
                          placeholder="{{'Sequence Number' |translate}}" name="sequenceNumber" #sequenceNumber="ngModel"
                          [(ngModel)]="equipmentDetails.sequenceNumber" [readOnly]="makeReadOnly">
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label"> </label>
              <div class="col-sm-8 text-right mb-3">
                <button class="btn btn-green mr-2" value="save" (click)="save(equipmentForm)"
                  [disabled]="equipmentForm.invalid">{{'Save' |translate}}</button>
                <button class="btn btn-white" value="Clear" (click)="clear(equipmentForm)">{{'Clear'
                  |translate}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="wmsDataTables">
            <table class="table table-striped" datatable [dtOptions]="dtOptions"
              [dtTrigger]="dtTrigger" style="overflow-y: auto;display: block;border-bottom: none;">
              <thead>
                <tr>
                  <td>{{'S.No' |translate}}</td>
                  <td>{{'Equipment ID' |translate}}</td>
                  <td>{{'Equipment Name' |translate}}</td>
                  <td>{{'Equipment IDName' |translate}}</td>
                  <td>{{'Equipment Type' |translate}}</td>
                  <td>{{'Length' |translate}}</td>
                  <td>{{'Width' |translate}}</td>
                  <td>{{'Height' |translate}}</td>
                  <td>{{'Volume' |translate}}</td>
                  <td>{{'Weight' |translate}}</td>
                  <td>{{'No of Shifts' |translate}}</td>
                  <td>{{'Hours Per Shift' |translate}}</td>
                  <td>{{'Day Capacity' |translate}}</td>
                  <td>{{'No of days Per Week' |translate}}</td>
                  <td>{{'Weekly Capacity' |translate}}</td>
                  <td>{{'Efficency' |translate}}</td>
                  <td>{{'Utilization' |translate}}</td>
                  <td>{{'Rate/Hr' |translate}}</td>
                  <td>{{'Status' |translate}}</td>
                  <td>{{'Action' |translate}}</td>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let detail of equipments; let i = index;">
                  <td class="text-left">{{i+1}}</td>
                  <th style="cursor:pointer" (click)="edit(detail)">{{detail.equipmentID}}</th>
                  <td>{{detail.equipmentName}}</td>
                  <td>{{detail.equipmentID}}:{{detail.equipmentName}}</td>
                  <td>{{detail.equipmentType}}</td>
                  <td>{{detail.length}} {{detail.uomLength}}</td>
                  <td>{{detail.width}} {{detail.uomWidth}}</td>
                  <td>{{detail.height}} {{detail.uomHeight}}</td>
                  <td>{{detail.volume}} {{detail.uomVolume}}</td>
                  <td>{{detail.weight}} {{detail.uomWeight}}</td>
                  <td>{{detail.noofShifts}}</td>
                  <td>{{detail.hoursPerShift}}</td>
                  <td>{{detail.daysCapacity}}</td>
                  <td>{{detail.noOfDaysPerWeek}}</td>
                  <td>{{detail.weeklyCapacity}}</td>
                  <td>{{detail.efficiency}}</td>
                  <td>{{detail.utilization}}</td>
                  <td>{{detail.equipmentRate}}</td>
                  <td>{{detail.status}}</td>
                  <td><span _ngcontent-lty-c40="" class="btn btn-pink btn-sm"><i _ngcontent-lty-c40=""
                        class="fa fa-trash btn-blue" (click)="delete(detail)"></i></span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<app-delete-popup [getInfo]="deleteInfo" (sendConfirmation)="getConfirmation($event)"></app-delete-popup>