<form [formGroup]="odderStatusTransactionDashboardsForms" [dir]="direction">
  <div class="row">
    <div class="col-md-12">
      <div class="top-input-label">
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label">{{'Created Date From' |translate}}</label>
              <div class="col-sm-7">
                <input type="date" name="" class="form-control" id="" formControlName="fromDate"
                  (change)="filterDataFromDates()">
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label">{{'Created Date To' |translate}}</label>
              <div class="col-sm-6">
                <input type="date" name="" class="form-control" id="" formControlName="toDate"
                  (change)="filterDataFromDates()">
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label">{{'Inward Order Type' |translate}}</label>
              <div class="col-sm-6">
                <select class="form-control extraLongWidth" formControlName="dummyOrderType">
                  <option>Purchase Order</option>
                <option>WareHouseTransfer Returns </option>
                <option>WareHouseTransfer</option>
                <option>Sales Returns</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label">{{'Outward Order Type' |translate}}</label>
              <div class="col-sm-6">
                <select class="form-control extraLongWidth" formControlName="orderType">
                  <option>Sales Order</option>
                  <option>WareHouseTransfer Returns </option>
                  <option>WareHouseTransfer</option>
                  <option>Purchase Returns </option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-sm-12 text-right">
            <button class="btn btn-green m-1" (click)="filter()">{{'Filter' |translate}}</button>
            <button class="btn btn-white" (click)="reset()">{{'Reset' |translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<h6 class="text-center mt-2">{{'Inbound' |translate}}</h6>

<div class="row">
  <div class="col-md-4" *ngIf="inboundOrderDetails.includes('View')">
    <div class="wmsDataTablesInboundOutBoundTableOnly">
      <div class="overALlBorder1">
        <p class="text-center">{{'Order Status Today' |translate}}</p>
        <table class="w-100 text-center" border="1" cellpadding="4">
          <tr>
            <th style="color:white;background-color:red">{{'Total Orders' |translate}}</th>
            <th style="color:white;background-color:blue">{{totalInBoundCountDisplay ? totalInBoundCountDisplay :
              0}}</th>
          </tr>
          <tr>
            <td>{{'Released For Unload Count' |translate}}</td>
            <td>{{releasedForUnloadCountobj}}</td>
          </tr>
          <tr>
            <td>{{'In Unload Count' |translate}}</td>
            <td>{{inUnloadCountobj}}</td>
          </tr>
          <tr>
            <td>{{'Released For Quality Check Count' |translate}}</td>
            <td>{{releasedForInwardQualityCheckCountobj}}</td>
          </tr>
          <tr>
            <td>{{'In Quality Check Count' |translate}}</td>
            <td>{{inInwardQualityCheckCountobj}}</td>
          </tr>
          <tr>
            <td>{{'Released For Grn Count' |translate}}</td>
            <td>{{releasedForGrnCountobj}}</td>
          </tr>
          <tr>
            <td>{{'In Grn Count' |translate}}</td>
            <td>{{inGrnCountobj}}</td>
          </tr>
          <tr>
            <td>{{'Release for Putaway Count' |translate}}</td>
            <td>{{releasedForPutawayCountobj}}</td>
          </tr>
          <tr>
            <td>{{'In Putaway Count' |translate}}</td>
            <td>{{inPutawayCountobj}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-4" *ngIf="inboundUnloading.includes('View')">
    <div class="wmsDataTablesInboundOutBoundGraphOnly">
      <h6 class="text-center">{{'UnLoading' |translate}}</h6>
      <div id="chart">
        <ng-container *ngIf="UnloadCountTypeDetails">
          <apx-chart [series]="UnloadCountTypeDetails?.series" [chart]="UnloadCountTypeDetails?.chart"
            [plotOptions]="UnloadCountTypeDetails?.plotOptions" [labels]="UnloadCountTypeDetails?.labels"
            [stroke]="UnloadCountTypeDetails?.stroke" [fill]="UnloadCountTypeDetails?.fill"></apx-chart>
          <!--  <apx-chart style="position:relative;left:100px;top:10px" [series]="UnloadCountTypeDetails?.series" [chart]="UnloadCountTypeDetails?.chart"
                [labels]="UnloadCountTypeDetails?.labels" [title]="UnloadCountTypeDetails?.title"
                [theme]="UnloadCountTypeDetails?.theme" [responsive]="UnloadCountTypeDetails?.responsive"
                [dataLabels]="UnloadCountTypeDetails?.dataLabels" [legend]="UnloadCountTypeDetails?.legend"
                [colors]="UnloadCountTypeDetails?.colors"></apx-chart> -->
        </ng-container>
      </div>
    </div>
  </div>
  <div class="col-md-4" *ngIf="inboundQualityCheck.includes('View')">
    <div class="wmsDataTablesInboundOutBoundGraphOnly">
      <h6 class="text-center">{{'Inbound Quality Check' |translate}}</h6>
      <div id="chart">
        <ng-container *ngIf="qualityCheckDetails">
          <apx-chart [series]="qualityCheckDetails?.series" [chart]="qualityCheckDetails?.chart"
            [plotOptions]="qualityCheckDetails?.plotOptions" [labels]="qualityCheckDetails?.labels"
            [stroke]="qualityCheckDetails?.stroke" [fill]="qualityCheckDetails?.fill"></apx-chart>
          <!--   <apx-chart [series]="qualityCheckDetails?.series" [chart]="qualityCheckDetails?.chart"
                [labels]="qualityCheckDetails?.labels" [title]="qualityCheckDetails?.title"
                [theme]="qualityCheckDetails?.theme" [responsive]="qualityCheckDetails?.responsive"
                [dataLabels]="qualityCheckDetails?.dataLabels" [legend]="qualityCheckDetails?.legend"
                [colors]="qualityCheckDetails?.colors"></apx-chart> -->
        </ng-container>
      </div>
    </div>
  </div>
  <div class="col-md-4" *ngIf="inboundPurchaseOrder.includes('View')">
    <div class="wmsDataTablesInboundOutBoundTableOnly">
      <h6 class="text-center">{{'purchase order' |translate}}</h6>
      <div id="chart">
        <ng-container *ngIf="purchaseordrObjectDetails">
          <apx-chart [series]="purchaseordrObjectDetails?.series" [chart]="purchaseordrObjectDetails?.chart"
            [plotOptions]="purchaseordrObjectDetails?.plotOptions" [labels]="purchaseordrObjectDetails?.labels"
            [stroke]="purchaseordrObjectDetails?.stroke" [fill]="purchaseordrObjectDetails?.fill"></apx-chart>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="col-md-4" *ngIf="inboundGoodsReceiving.includes('View')">
    <div class="wmsDataTablesInboundOutBoundGraphOnly">
      <h6 class="text-center">{{'Goods Receiving' |translate}} </h6>
      <div id="chart">
        <ng-container *ngIf="goodsReceiptObjectDetails">
          <apx-chart [series]="goodsReceiptObjectDetails?.series" [chart]="goodsReceiptObjectDetails?.chart"
            [plotOptions]="goodsReceiptObjectDetails?.plotOptions" [labels]="goodsReceiptObjectDetails?.labels"
            [stroke]="goodsReceiptObjectDetails?.stroke" [fill]="goodsReceiptObjectDetails?.fill"></apx-chart>
          <!-- <apx-chart [series]="goodsReceiptObjectDetails?.series" [chart]="goodsReceiptObjectDetails?.chart"
                [labels]="goodsReceiptObjectDetails?.labels" [title]="goodsReceiptObjectDetails?.title"
                [theme]="goodsReceiptObjectDetails?.theme" [responsive]="goodsReceiptObjectDetails?.responsive"
                [dataLabels]="goodsReceiptObjectDetails?.dataLabels" [legend]="goodsReceiptObjectDetails?.legend"
                [colors]="goodsReceiptObjectDetails?.colors">
              </apx-chart> -->
        </ng-container>
      </div>
    </div>
  </div>
  <div class="col-md-4" *ngIf="inboundPutawayCompleted.includes('View')">
    <div class="wmsDataTablesInboundOutBoundGraphOnly">
      <h6 class="text-center">{{'Putaway completed' |translate}}</h6>
      <div id="chart">
        <ng-container *ngIf="putawayCompletedObjectDetails">
          <apx-chart [series]="putawayCompletedObjectDetails?.series" [chart]="putawayCompletedObjectDetails?.chart"
            [plotOptions]="putawayCompletedObjectDetails?.plotOptions" [labels]="putawayCompletedObjectDetails?.labels"
            [stroke]="putawayCompletedObjectDetails?.stroke" [fill]="putawayCompletedObjectDetails?.fill"></apx-chart>
          <!--  <apx-chart [series]="putawayCompletedObjectDetails?.series" [chart]="putawayCompletedObjectDetails?.chart"
                [labels]="putawayCompletedObjectDetails?.labels" [title]="putawayCompletedObjectDetails?.title"
                [theme]="putawayCompletedObjectDetails?.theme" [responsive]="putawayCompletedObjectDetails?.responsive"
                [dataLabels]="putawayCompletedObjectDetails?.dataLabels"
                [legend]="putawayCompletedObjectDetails?.legend" [colors]="putawayCompletedObjectDetails?.colors">
              </apx-chart> -->
        </ng-container>
      </div>
    </div>
  </div>
</div>

<h6 class="text-center" *ngIf="outboundOrderDetails.includes('View')">{{'Outbound' |translate}}</h6>
<div class="row">
  <div class="col-md-4" *ngIf="outboundOrderDetails.includes('View')">
    <div class="wmsDataTablesInboundOutBoundTableOnly" style="height:450px">
      <div class="overALlBorder">
        <p class="text-center">{{'Order Status Today' |translate}}</p>
        <table class="w-100 text-center" border="1">
          <tr>
            <th style="color:white;background-color:red">{{'Total Orders' |translate}} </th>
            <th style="color:white;background-color:blue">{{totalOutBoundCountDisplay}} </th>
          </tr>
          <tr>
            <td>{{'Release For Picking Count' |translate}}</td>
            <td>{{releasedForPickingCountobj}}</td>
          </tr>
          <tr>
            <td>{{'In Picking Count' |translate}}</td>
            <td>{{inPickingCountobj}}</td>
          </tr>
          <tr>
            <td>{{'Released for Outward Quality Check Count' |translate}}</td>
            <td>{{releasedForOutwardQualityCheckCountobj}}</td>
          </tr>
          <tr>
            <td>{{'In Outward Quality Check Count' |translate}}</td>
            <td>{{inOutwardQualityCheckCountobj}}</td>
          </tr>
          <tr>
            <td>{{'Released For Packing Count' |translate}}</td>
            <td>{{releasedForPackingCountObj}}</td>
          </tr>
          <tr>
            <td>{{'In Packing Count' |translate}}</td>
            <td>{{inPackingCountobj}}</td>
          </tr>
          <tr>
            <td>{{'Released For RePacking Count' |translate}}</td>
            <td>{{releasedForRePackingCountobj}}</td>
          </tr>
          <tr>
            <td>{{'In Re-Packing Count' |translate}}</td>
            <td>{{inRePackingCountobj}}</td>
          </tr>
          <tr>
            <td>{{'Released For CoPacking Count' |translate}}</td>
            <td>{{releasedForCoPackingCountobj}}</td>
          </tr>
          <tr>
            <td>{{'In Co packing Count' |translate}}</td>
            <td>{{inCoPackingCountobj}}</td>
          </tr>
          <tr>
            <td>{{'Released For Labeling Count' |translate}}</td>
            <td>{{releasedForLabelingCountobj}}</td>
          </tr>
          <tr>
            <td>{{'In Labeling Count' |translate}}</td>
            <td>{{inLabelingCountobj}}</td>
          </tr>
          <tr>
            <td>{{'Released For ShipmentOrders Count' |translate}}</td>
            <td>{{releasedForShipmentOrdersCountobj}}</td>
          </tr>
          <tr>
            <td>{{'Released For Load Count' |translate}}</td>
            <td>{{releasedForLoadCountobj}}</td>
          </tr>
          <tr>
            <td>{{'In Load Count' |translate}}</td>
            <td>{{inLoadCountobj}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-8">

    <div class="row">
      <div class="col-md-6" *ngIf="outboundSalesOrder.includes('View')">
        <div class="wmsDataTablesInboundOutBoundGraphOnly">
          <h6 class="text-center">{{'Sales order' |translate}}</h6>
          <div id="chart">
            <ng-container *ngIf="salesOrderObjectDetails">
              <apx-chart [series]="salesOrderObjectDetails?.series" [chart]="salesOrderObjectDetails?.chart"
                [plotOptions]="salesOrderObjectDetails?.plotOptions" [labels]="salesOrderObjectDetails?.labels"
                [stroke]="salesOrderObjectDetails?.stroke" [fill]="salesOrderObjectDetails?.fill"></apx-chart>
              <!--   <apx-chart [series]="salesOrderObjectDetails?.series" [chart]="salesOrderObjectDetails?.chart"
                                  [labels]="salesOrderObjectDetails?.labels" [title]="salesOrderObjectDetails?.title"
                                  [theme]="salesOrderObjectDetails?.theme" [responsive]="salesOrderObjectDetails?.responsive"
                                  [dataLabels]="salesOrderObjectDetails?.dataLabels" [legend]="salesOrderObjectDetails?.legend"
                                  [colors]="salesOrderObjectDetails?.colors"></apx-chart> -->
            </ng-container>
          </div>
        </div>
      </div>
      <div class="col-md-6" *ngIf="outboundReplenishmentOrderHistory.includes('View')">
        <div class="wmsDataTablesOutBoundGraphOnly">
          <h6 class="text-center">{{'Replishment Order history' |translate}}</h6>
          <div id="chart">
            <ng-container *ngIf="replishmentHistoryOrderObjectDetails">
              <apx-chart [series]="replishmentHistoryOrderObjectDetails?.series"
                [chart]="replishmentHistoryOrderObjectDetails?.chart"
                [plotOptions]="replishmentHistoryOrderObjectDetails?.plotOptions"
                [labels]="replishmentHistoryOrderObjectDetails?.labels"
                [stroke]="replishmentHistoryOrderObjectDetails?.stroke"
                [fill]="replishmentHistoryOrderObjectDetails?.fill"></apx-chart>
              <!--  <apx-chart [series]="replishmentHistoryOrderObjectDetails?.series"
                                  [chart]="replishmentHistoryOrderObjectDetails?.chart"
                                  [labels]="replishmentHistoryOrderObjectDetails?.labels"
                                  [title]="replishmentHistoryOrderObjectDetails?.title"
                                  [theme]="replishmentHistoryOrderObjectDetails?.theme"
                                  [responsive]="replishmentHistoryOrderObjectDetails?.responsive"
                                  [dataLabels]="replishmentHistoryOrderObjectDetails?.dataLabels"
                                  [legend]="replishmentHistoryOrderObjectDetails?.legend"
                                  [colors]="replishmentHistoryOrderObjectDetails?.colors"></apx-chart> -->
            </ng-container>
          </div>
        </div>
      </div>
      <div class="col-md-6" *ngIf="outboundPickingCompleted.includes('View')">
        <div class="wmsDataTablesInboundOutBoundGraphOnly">
          <h6 class="text-center">{{'picking completed' |translate}}</h6>
          <div id="chart">
            <ng-container *ngIf="pickingsCompletedObjectDetails">
              <apx-chart [series]="pickingsCompletedObjectDetails?.series"
                [chart]="pickingsCompletedObjectDetails?.chart"
                [plotOptions]="pickingsCompletedObjectDetails?.plotOptions"
                [labels]="pickingsCompletedObjectDetails?.labels" [stroke]="pickingsCompletedObjectDetails?.stroke"
                [fill]="pickingsCompletedObjectDetails?.fill"></apx-chart>
              <!--   <apx-chart [series]="pickingsCompletedObjectDetails?.series"
                                  [chart]="pickingsCompletedObjectDetails?.chart" [labels]="pickingsCompletedObjectDetails?.labels"
                                  [title]="pickingsCompletedObjectDetails?.title" [theme]="pickingsCompletedObjectDetails?.theme"
                                  [responsive]="pickingsCompletedObjectDetails?.responsive"
                                  [dataLabels]="pickingsCompletedObjectDetails?.dataLabels"
                                  [legend]="pickingsCompletedObjectDetails?.legend" [colors]="pickingsCompletedObjectDetails?.colors">
                                </apx-chart> -->
            </ng-container>
          </div>
        </div>
      </div>
      <div class="col-md-6" *ngIf="outboundQualityCheck.includes('View')">
        <div class="wmsDataTablesOutBoundGraphOnly">
          <h6 class="text-center">{{'Outbound Quality Check' |translate}}</h6>
          <div id="chart">
            <ng-container *ngIf="outboundQualityCheckobjectDetails">
              <apx-chart [series]="outboundQualityCheckobjectDetails?.series"
                [chart]="outboundQualityCheckobjectDetails?.chart"
                [plotOptions]="outboundQualityCheckobjectDetails?.plotOptions"
                [labels]="outboundQualityCheckobjectDetails?.labels"
                [stroke]="outboundQualityCheckobjectDetails?.stroke"
                [fill]="outboundQualityCheckobjectDetails?.fill"></apx-chart>
              <!--  <apx-chart [series]="outboundQualityCheckobjectDetails?.series"
                                  [chart]="outboundQualityCheckobjectDetails?.chart"
                                  [labels]="outboundQualityCheckobjectDetails?.labels"
                                  [title]="outboundQualityCheckobjectDetails?.title"
                                  [theme]="outboundQualityCheckobjectDetails?.theme"
                                  [responsive]="outboundQualityCheckobjectDetails?.responsive"
                                  [dataLabels]="outboundQualityCheckobjectDetails?.dataLabels"
                                  [legend]="outboundQualityCheckobjectDetails?.legend"
                                  [colors]="outboundQualityCheckobjectDetails?.colors"></apx-chart> -->
            </ng-container>
          </div>
        </div>
      </div>

    </div>

  </div>





  <div class="col-md-4" *ngIf="outboundPacking.includes('View')">
    <div class="wmsDataTablesOutBoundGraphOnly">
      <h6 class="text-center">{{'Packing' |translate}}</h6>
      <div id="chart">
        <ng-container *ngIf="packingShipmentOrderObjectDetails">
          <apx-chart [series]="packingShipmentOrderObjectDetails?.series"
            [chart]="packingShipmentOrderObjectDetails?.chart"
            [plotOptions]="packingShipmentOrderObjectDetails?.plotOptions"
            [labels]="packingShipmentOrderObjectDetails?.labels" [stroke]="packingShipmentOrderObjectDetails?.stroke"
            [fill]="packingShipmentOrderObjectDetails?.fill"></apx-chart>
          <!-- <apx-chart [series]="packingShipmentOrderObjectDetails?.series"
                    [chart]="packingShipmentOrderObjectDetails?.chart"
                    [labels]="packingShipmentOrderObjectDetails?.labels"
                    [title]="packingShipmentOrderObjectDetails?.title"
                    [theme]="packingShipmentOrderObjectDetails?.theme"
                    [responsive]="packingShipmentOrderObjectDetails?.responsive"
                    [dataLabels]="packingShipmentOrderObjectDetails?.dataLabels"
                    [legend]="packingShipmentOrderObjectDetails?.legend"
                    [colors]="packingShipmentOrderObjectDetails?.colors"></apx-chart> -->
        </ng-container>
      </div>
    </div>
  </div>
  <div class="col-md-4" *ngIf="outboundRepacking.includes('View')">
    <div class="wmsDataTablesOutBoundGraphOnly">
      <h6 class="text-center">{{'Repacking' |translate}}</h6>
      <div id="chart">
        <ng-container *ngIf="rePackingShipmentOrderObjectDetails">
          <apx-chart [series]="rePackingShipmentOrderObjectDetails?.series"
            [chart]="rePackingShipmentOrderObjectDetails?.chart"
            [plotOptions]="rePackingShipmentOrderObjectDetails?.plotOptions"
            [labels]="rePackingShipmentOrderObjectDetails?.labels"
            [stroke]="rePackingShipmentOrderObjectDetails?.stroke"
            [fill]="rePackingShipmentOrderObjectDetails?.fill"></apx-chart>
          <!--  <apx-chart [series]="rePackingShipmentOrderObjectDetails?.series"
                    [chart]="rePackingShipmentOrderObjectDetails?.chart"
                    [labels]="rePackingShipmentOrderObjectDetails?.labels"
                    [title]="rePackingShipmentOrderObjectDetails?.title"
                    [theme]="rePackingShipmentOrderObjectDetails?.theme"
                    [responsive]="rePackingShipmentOrderObjectDetails?.responsive"
                    [dataLabels]="rePackingShipmentOrderObjectDetails?.dataLabels"
                    [legend]="rePackingShipmentOrderObjectDetails?.legend"
                    [colors]="rePackingShipmentOrderObjectDetails?.colors"></apx-chart> -->
        </ng-container>
      </div>
    </div>
  </div>
  <div class="col-md-4" *ngIf="outboundCopacking.includes('View')">
    <div class="wmsDataTablesOutBoundGraphOnly">
      <h6 class="text-center">{{'Copacking' |translate}} </h6>
      <div id="chart">
        <ng-container *ngIf="coPackingShipmentOrdersOdjectDetails">
          <apx-chart [series]="coPackingShipmentOrdersOdjectDetails?.series"
            [chart]="coPackingShipmentOrdersOdjectDetails?.chart"
            [plotOptions]="coPackingShipmentOrdersOdjectDetails?.plotOptions"
            [labels]="coPackingShipmentOrdersOdjectDetails?.labels"
            [stroke]="coPackingShipmentOrdersOdjectDetails?.stroke"
            [fill]="coPackingShipmentOrdersOdjectDetails?.fill"></apx-chart>

          <!--  <apx-chart [series]="coPackingShipmentOrdersOdjectDetails?.series"
                    [chart]="coPackingShipmentOrdersOdjectDetails?.chart"
                    [labels]="coPackingShipmentOrdersOdjectDetails?.labels"
                    [title]="coPackingShipmentOrdersOdjectDetails?.title"
                    [theme]="coPackingShipmentOrdersOdjectDetails?.theme"
                    [responsive]="coPackingShipmentOrdersOdjectDetails?.responsive"
                    [dataLabels]="coPackingShipmentOrdersOdjectDetails?.dataLabels"
                    [legend]="coPackingShipmentOrdersOdjectDetails?.legend"
                    [colors]="coPackingShipmentOrdersOdjectDetails?.colors"></apx-chart> -->
        </ng-container>
      </div>
    </div>
  </div>
  <div class="col-md-4" *ngIf="outboundLabelling.includes('View')">
    <div class="wmsDataTablesOutBoundGraphOnly">
      <h6 class="text-center">{{'Labelling' |translate}}</h6>
      <div id="chart">
        <ng-container *ngIf="labellingShipmentOrderobjectDetails">
          <apx-chart [series]="labellingShipmentOrderobjectDetails?.series"
            [chart]="labellingShipmentOrderobjectDetails?.chart"
            [plotOptions]="labellingShipmentOrderobjectDetails?.plotOptions"
            [labels]="labellingShipmentOrderobjectDetails?.labels"
            [stroke]="labellingShipmentOrderobjectDetails?.stroke"
            [fill]="labellingShipmentOrderobjectDetails?.fill"></apx-chart>
          <!--   <apx-chart [series]="labellingShipmentOrderobjectDetails?.series"
                    [chart]="labellingShipmentOrderobjectDetails?.chart"
                    [labels]="labellingShipmentOrderobjectDetails?.labels"
                    [title]="labellingShipmentOrderobjectDetails?.title"
                    [theme]="labellingShipmentOrderobjectDetails?.theme"
                    [responsive]="labellingShipmentOrderobjectDetails?.responsive"
                    [dataLabels]="labellingShipmentOrderobjectDetails?.dataLabels"
                    [legend]="labellingShipmentOrderobjectDetails?.legend"
                    [colors]="labellingShipmentOrderobjectDetails?.colors"></apx-chart> -->
        </ng-container>
      </div>
    </div>
  </div>
  <div class="col-md-4" *ngIf="outboundShipmentOrder.includes('View')">
    <div class="wmsDataTablesOutBoundGraphOnly">
      <h6 class="text-center">{{'Shipment order' |translate}}</h6>
      <div id="chart">
        <ng-container *ngIf="shipmentOrdersObjectDetails">
          <apx-chart [series]="shipmentOrdersObjectDetails?.series" [chart]="shipmentOrdersObjectDetails?.chart"
            [plotOptions]="shipmentOrdersObjectDetails?.plotOptions" [labels]="shipmentOrdersObjectDetails?.labels"
            [stroke]="shipmentOrdersObjectDetails?.stroke" [fill]="shipmentOrdersObjectDetails?.fill"></apx-chart>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="col-md-4" *ngIf="outboundLoading.includes('View')">
    <div class="wmsDataTablesOutBoundGraphOnly">
      <h6 class="text-center">{{'Loading' |translate}}</h6>
      <div id="chart">
        <ng-container *ngIf="loadOutboundrobjectDetails">
          <apx-chart [series]="loadOutboundrobjectDetails?.series" [chart]="loadOutboundrobjectDetails?.chart"
            [plotOptions]="loadOutboundrobjectDetails?.plotOptions" [labels]="loadOutboundrobjectDetails?.labels"
            [stroke]="loadOutboundrobjectDetails?.stroke" [fill]="loadOutboundrobjectDetails?.fill"></apx-chart>
          <!--  <apx-chart [series]="loadOutboundrobjectDetails?.series" [chart]="loadOutboundrobjectDetails?.chart"
                    [labels]="loadOutboundrobjectDetails?.labels" [title]="loadOutboundrobjectDetails?.title"
                    [theme]="loadOutboundrobjectDetails?.theme" [responsive]="loadOutboundrobjectDetails?.responsive"
                    [dataLabels]="loadOutboundrobjectDetails?.dataLabels" [legend]="loadOutboundrobjectDetails?.legend"
                    [colors]="loadOutboundrobjectDetails?.colors"></apx-chart> -->
        </ng-container>
      </div>
    </div>
  </div>
</div>
