<div id="inBody" [formGroup]="schedulerDetailsForm">
  <div class="row">
    <div class="col-md-12">
      <div class="panel portlet">
        <div class="formBox portlet-title">
          <div class="row">
            <div class="panel-heading formTitle w-auto">
              <h4>Schedular Details</h4>
              <div class="float-right"><span class="clickable"><i class="fa fa-angle-up"
                    aria-hidden="true"></i></span> | <i class="material-icons fullscreen"> unfold_less </i> </div>
            </div>
            <div class="formTitleHover">
              <h4>Schedular Details
                <div class="float-right"><i class="material-icons fullscreen"> close </i></div>
              </h4>
            </div>
          </div>
          <div id="style-8" class="panel-body scrollbar"style="height: 114px;">
            <div class="row force-overflow">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Schedule Time
                      </label>
                      <div class="col-sm-9">
                        <input type="time" class="form-control" id="scheduleTime"
                          formControlName="scheduleTime">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label">Task Type
                      </label>
                      <div class="col-sm-9">
                        <select name="" id=""  class="form-control" formControlName="taskName">
                          <option [ngValue] = null>--Select-</option>
                          <option value="SpaceUtilization">SpaceUtilization</option>
                          <option value="InventoryBlock">InventoryBlock</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">Organization</label>
                      <div class="col-sm-8">
                      <ng-multiselect-dropdown [placeholder]="'Select'" [settings]="dropdownSettings"
                          [data]="organizationValuesIDs" formControlName="dummyOrg"
                          (focusout)="getWareHouses()">
                        </ng-multiselect-dropdown>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">WareHouse</label>
                      <div class="col-sm-8">
                        <ng-multiselect-dropdown [placeholder]="'Select'" [settings]="dropdownSettings"
                        [data]="wareHouseDropDownList" name="warehouseidname"
                        formControlName="dummywareHouse">
                      </ng-multiselect-dropdown>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="text-right">
            <button class="btn btn-green mr-2" (click)="save()">Save</button>
            <button class="btn btn-white">Clear</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top:-10px;">
    <div class="col-md-12">
      <div class="wmsDataTables">
        <p class="maintainTableHeader">Schedules Details</p>
        <table id="example" class="table table-striped" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
          <thead>
            <tr>
              <th scope="col">S.No</th>
              <th scope="col">Schedule Time</th>
              <th scope="col">Task Type</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of thirdPartySpaceUtilizationScheduleConfigurationsResponseList;let  i = index">
              <td>{{i +1}}</td>
              <th>{{data.scheduleTime | date: 'HH:mm'}}</th>
              <th>{{data.taskName}}</th>
               <td><span class="btn btn-pink btn-sm"><i class="fa fa-pencil btn-sm" (click)="edit(data)"></i><i
                class="fa fa-trash btn-blue"(click)="delete(data)"></i></span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<app-delete-popup [getInfo]="deleteInfo" (sendConfirmation)="getConfirmation($event)"></app-delete-popup>
