 label.col-sm-3.col-form-label {
     color: black;
     font-size: 12px;
     font-weight: 400;
 }

 label.col-sm-4.col-form-label {
     color: black;
     font-size: 12px;
     font-weight: 400;
 }

 label.col-sm-6.col-form-label {
     color: black;
     font-size: 12px;
     font-weight: 400;
 }

 label.col-sm-7.col-form-label {
     color: black;
     font-size: 12px;
     font-weight: 400;
 }

 label.col-sm-8.col-form-label {
     color: black;
     font-size: 12px;
     font-weight: 400;
 }

 tr,
 td {
     color: black;
     font-size: 12px;
     font-weight: 400;
 }

 .Heading {
     color: black;
     font-size: 12px;
     font-weight: 400;
 }
 .footer, .footer-space {
    height: 150px;
}
     
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0px;
}