<div id="inBody" *ngIf="permissionsList.includes('View')" [dir]="direction">
  <div class="col-md-12">
    <div class="row" *ngIf="permissionsList.includes('Update')">
      <div class="col-md-12">
        <div class="udcBtns float-right">
          <a (click)="getFile()"><img src="assets/Export.png" title="Upload Excel" alt=""
              style="width: 25px;height: 23px;margin-right: 16px;">
            <input id="upfile" class="hidden" type="file" accept=".xlsx" (change)="uploadExcel($event)">
          </a>
          <a value="Log File" *ngIf="failureRecords.length > 0"><img src="assets/Log file 2.png" title="Log File"
              alt="" style="width: 25px;height: 23px;margin-right: 10px;" (click)="downloadLogFile()">
          </a>
          <a>
            <button type="button" value="Download Excel" (click)="exportAsXLSX()" title="Download Excel"
              style="background: none !important;border: none !important;">
              <img src="assets/Import.png" alt="" style="width: 25px;height: 23px;">
            </button>
          </a>
          <!-- <ul>
            <li (click)="getFile()"><a> <i class="material-icons align-middle"> open_in_browser
                </i>{{'Upload Excel' |translate}}<input id="upfile" class="hidden" type="file" accept=".xlsx" (change)="uploadExcel($event)">
              </a>
            </li>
            <li value="Log File" *ngIf="failureRecords.length > 0"><a (click)="downloadLogFile()"> <i class="material-icons align-middle"> description
              </i> Log File </a>
            </li>
            <li value="Download Excel" (click)="exportAsXLSX()"><a> <i class="material-icons align-middle"> get_app
                </i>{{'Download Excel' |translate}}</a>
            </li>
          </ul> -->
        </div>
      </div>
    </div>
    <form [formGroup]="billOfResourceForm">
      <div class="row">
        <div class="col-md-6">
          <div class="panel portlet">
            <div class="formBox portlet-title">
              <div class="row">
                <div class="panel-heading formTitle">
                  <h4>{{'BILL OF RESOURCE HEADER' |translate}}</h4>
                  <div class="float-right"><span class="clickable"><i class="fa fa-angle-up"
                        aria-hidden="true"></i></span> | <i class="material-icons fullscreen"> unfold_less </i> </div>
                </div>
                <div class="formTitleHover">
                  <h4>{{'BILL OF RESOURCE HEADER' |translate}}
                    <div class="float-right"><i class="material-icons fullscreen"> close </i>
                    </div>
                  </h4>
                </div>
              </div>
              <div id="style-8" class="panel-body scrollbar">
                <div class="row force-overflow">
                  <div class="col-md-6">

                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">{{'Product ID/Name' |translate}}<i class="red">*</i>
                      </label>
                      <div class="col-sm-8">
                        <i class="material-icons iIcon" data-toggle="tooltip" data-placement="top"
                          title="Search product to retrive data of product"> info </i>
                        <ng2-completer name="productIDName" id="productIDName" formControlName="productIDName"
                          [datasource]="dataService" [minSearchLength]="0"
                          placeholder="{{'Product ID/Name' |translate}}"
                          (selected)="onProductChange();autoRetrieveData();fetchAllProducts()">
                        </ng2-completer>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">{{'Product ID' |translate}}
                      </label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" name="productID" id="productID"
                          placeholder="{{'Product ID' |translate}}" formControlName="productID" readonly readonly>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">{{'Product Name' |translate}}
                      </label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="productName"
                          placeholder="{{'Product Name' |translate}}" formControlName="productName" readonly>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row" *ngIf="showImage">
                      <label for="" class="col-sm-4 col-form-label">{{'Product Image' |translate}}</label>
                      <div class="col-sm-8">
                        <img id="pLogo" style="width: 175px;height: 80px;border-radius: 10px;margin-top:8px;"
                          alt="No Image">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">{{'Inventory Unit' |translate}}</label>
                      <div class="col-sm-8">
                        <input type="text" name="" class="form-control" formControlName="inventoryUnit" id="" readonly>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">{{'Resource Unit' |translate}}</label>
                      <div class="col-sm-8">
                        <input type="text" name="resourceUnit" class="form-control" readonly
                          formControlName="resourceUnit" id="resourceUnit">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="drop-status">
            <div class="form-group row">
              <label class="col-sm-1 col-form-label">Status: </label>
              <div class="col-sm-3">
                <select class="form-control" formControlName="status" name="status">
                  <option [ngValue]="null">--Select--</option>
                  <option *ngFor="let key of statuss" [ngValue]="key">{{key}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel portlet">
            <div class="formBox portlet-title">
              <div class="row">
                <div class="panel-heading formTitle">
                  <h4>{{'BILL OF RESOURCES LINES' |translate}} </h4>
                  <div class="float-right"><span class="clickable"><i class="fa fa-angle-up"
                        aria-hidden="true"></i></span> | <i class="material-icons fullscreen"> unfold_less </i> </div>
                </div>
                <div class="formTitleHover">
                  <h4>{{'BILL OF RESOURCES LINES' |translate}}
                    <div class="float-right"><i class="material-icons fullscreen"> close </i>
                    </div>
                  </h4>
                </div>
              </div>
              <div id="style-8" class="panel-body scrollbar">
                <div class="row force-overflow">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">{{'Equipments' |translate}}
                      </label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="equipments" name="equipments"
                          formControlName="equipment" placeholder="{{'Equipments' |translate}}"
                          [readOnly]="makeReadOnly">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">{{'Executives' |translate}}
                      </label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="executives" name="executives"
                          formControlName="executives" placeholder="{{'Executives' |translate}}"
                          [readOnly]="makeReadOnly">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">{{'Vehicles' |translate}}
                      </label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="vehicle" name="vehicle" formControlName="vehicle"
                          placeholder="{{'Vehicles' |translate}}" [readOnly]="makeReadOnly">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">{{'Capacity Unit' |translate}}
                      </label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="capacityUnit" formControlName="capacityUnit"
                          name="capacityUnit" placeholder="{{'Capacity Unit' |translate}}" [readOnly]="makeReadOnly">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">{{'Quantity' |translate}}<i class="red">*</i>
                      </label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="quantity" name="quantity"
                          formControlName="quantity" placeholder="{{'Quantity' |translate}}" [readOnly]="makeReadOnly">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">{{'Sequence Number' |translate}}
                      </label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="sequenceNumber" name="sequenceNumber"
                          formControlName="sequenceNumber" placeholder="{{'Sequence Number' |translate}}"
                          [readOnly]="makeReadOnly">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label"> </label>
              <div class="col-sm-8 text-right mb-3">
                <button class="btn btn-green mr-2" value="save" [disabled]="billOfResourceForm.invalid"
                  (click)="save()">{{'Save' |translate}} </button>
                <button class="btn btn-white" value="Clear" (click)="clear()">{{'Clear' |translate}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-md-12">
        <div class="wmsDataTables">
          <table id="example" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
            class="table table-striped d-table">
            <thead>
              <tr>
                <td>{{'S.No' |translate}}</td>
                <th scope="col">{{'Image' | translate}}</th>
                <td>{{'Product ID' |translate}}</td>
                <td>{{'Product Name' |translate}}</td>
                <td>{{'Product ID/Name' |translate}}</td>
                <td>{{'Inventory Unit' |translate}}</td>
                <td>{{'Resource unit' |translate}}</td>
                <td>{{'Executives' |translate}}</td>
                <td>{{'Equipments' |translate}}</td>
                <td>{{'Vehicles' |translate}}</td>
                <td>{{'Capacity Unit' |translate}}</td>
                <td>{{'Quantity' |translate}}</td>
                <td>{{'Sequence Number' |translate}}</td>
                <td>{{'Status' |translate}}</td>
                <td>{{'Action' |translate}}</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of billofResourcesData; let i = index">
                <td class="text-left">{{i+1}}</td>
                <td *ngIf="data.productImageResource">
                  <div class="tooltip-container">
                    <img [src]="'data:image/jpg;base64,' + data.productImageResource" class="pImageIcon"
                      alt="No Preview available" (mouseover)="showTooltip = true" (mouseleave)="showTooltip = false">
                    <span *ngIf="showTooltip" class="tooltip-text">{{data.productName}}</span>
                  </div>
                </td>
                <td *ngIf="!data.productImageResource">
                  <div class="noImageIcon">
                    <p class="noImageIconText">
                      {{configService.getImageShortCut(data.productName)}}</p>
                  </div>
                </td>
                <th style="cursor:pointer" (click)="edit(data)">{{data.productID}}</th>
                <td>{{data.productName}}</td>
                <td>{{data.productIDName}}</td>
                <td>{{data.inventoryUnit}}</td>
                <td>{{data.resourceUnit}}</td>
                <td>{{data.executives}}</td>
                <td>{{data.equipment}}</td>
                <td>{{data.vehicle}}</td>
                <td>{{data.capacityUnit}}</td>
                <td>{{data.quantity}}</td>
                <td>{{data.sequenceNumber}}</td>
                <td>{{data.status}}</td>
                <td><span class="btn btn-pink btn-sm"><i class="fa fa-trash btn-blue" (click)="delete(data)"></i></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<app-delete-popup [getInfo]="billofResourceInfo" (sendConfirmation)="getConfirmation($event)"></app-delete-popup>