<div id="inBody" [dir]="direction">
  <form [formGroup]="productByCustomerForm" *ngIf="permissionsList.includes('View')">
    <div class="col-md-12">
      <div class="row" *ngIf="permissionsList.includes('Update')">
        <div class="col-md-12">
          <div class="udcBtns float-right">
            <a (click)="getFile()"><img src="assets/Export.png" title="Upload Excel" alt=""
                style="width: 25px;height: 23px;margin-right: 16px;">
              <input id="upfile" #import (click)="import.value = null" class="hidden" type="file" accept=".xlsx"
                (change)="uploadExcel($event)">
            </a>
            <a value="Log File" *ngIf="failureRecords.length > 0"><img src="assets/Log file 2.png" title="Log File"
                alt="" style="width: 25px;height: 23px;margin-right: 10px;" (click)="downloadLogFile()">
            </a>
            <a>
              <button type="button" value="Download Excel" (click)="getAllRecordsToDownload()" title="Download Excel"
                style="background: none !important;border: none !important;">
                <img src="assets/Import.png" alt="" style="width: 25px;height: 23px;">
              </button>
            </a>
            <!-- <ul>
              <li (click)="getFile()"><a> <i class="material-icons align-middle"> open_in_browser
                  </i>{{'Upload Excel' |translate}}<input id="upfile" #import (click)="import.value = null" class="hidden" type="file"
                    accept=".xlsx" (change)="uploadExcel($event)">
                </a>
              </li>
              <li value="Log File" *ngIf="failureRecords.length > 0"><a (click)="downloadLogFile()"> <i
                    class="material-icons align-middle"> description
                  </i> Log File </a>
              </li>
              <li value="Download Excel" (click)="exportAsXLSX()"><a> <i class="material-icons align-middle"> get_app
                  </i>{{'Download Excel' |translate}}</a>
              </li>
            </ul> -->
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-md-6">
          <div class="panel portlet">
            <div class="formBox portlet-title">
              <div class="row">
                <div class="panel-heading formTitle">
                  <h4>{{'CUSTOMER DETAILS' |translate}}</h4>
                  <div class="float-right"><span class="clickable"><i class="fa fa-angle-up"
                        aria-hidden="true"></i></span> | <i class="material-icons fullscreen">
                      unfold_less </i> </div>
                </div>
                <div class="formTitleHover">
                  <h4>{{'CUSTOMER DETAILS' |translate}}
                    <div class="float-right"><i class="material-icons fullscreen"> close </i></div>
                  </h4>
                </div>
              </div>
              <div id="style-8" class="panel-body scrollbar">
                <div class="row force-overflow">
                  <div class="col-md-6">

                    <div class="form-group row">
                      <label class="col-sm-5 col-form-label">
                        {{'Customer ID/Name' |translate}} <i class="red">*</i>
                      </label>
                      <div class="col-sm-7">
                        <i class="material-icons iIcon" data-toggle="tooltip" data-placement="top"
                          title="Search customer to retrive data of customer">{{'info' |translate}}</i>
                        <ng2-completer id="customerIDName" name="customerIDName" formControlName="customerIDName"
                          [datasource]="customerIDNameValues" [minSearchLength]="0"
                          (selected)="getSelected('customerIDName')" placeholder="{{'Customer ID Name' |translate}}">
                        </ng2-completer>
                        <!-- <select class="form-control" id="customerIDName"
                          [ngClass]="{'valiError': shouldShowErrors('customerIDName', productByCustomerForm),'valiSucess': shouldShowSuccess('customerIDName')}"
                          (focus)="onFocusForElement('customerIDName')" (focusout)="onFocusOutForElement()"
                          name="customerIDName" formControlName="customerIDName" required
                          (change)="getSelected('customerIDName', $event.target.value)">
                          <option *ngFor="let customer of customers" value="{{customer.customerIDName}}">
                            {{customer.customerIDName}}</option>
                        </select> -->
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-5 col-form-label">{{'Customer ID' |translate}}
                      </label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control" id="customerID" name="customerID" required
                          formControlName="customerID" placeholder="{{'Customer ID' |translate}}"
                          [readOnly]="isReadMode">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-5 col-form-label">{{'Customer Name' |translate}}
                      </label>
                      <div class="col-sm-7">
                        <input name="customerName" id="customerName" formControlName="customerName"
                          [readOnly]="isReadMode" required placeholder="{{'Customer Name' |translate}}"
                          class="form-control" required value="" type="text">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-5 mt-3 col-form-label">{{'Customer Type' |translate}}
                      </label>
                      <div class="col-sm-7 mt-3">
                        <select class="form-control" id="customerType" name="customerType"
                          formControlName="customerType" required
                          (change)="getSelected('customerType', $event.target.value)">
                          <option *ngFor="let type of customerTypes" value="{{type}}">
                            {{type}}</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="panel portlet">
            <div class="formBox portlet-title">
              <div class="row">
                <div class="panel-heading formTitle">
                  <h4>{{'PRODUCT DETAILS' |translate}} </h4>
                  <div class="float-right"><span class="clickable"><i class="fa fa-angle-up"
                        aria-hidden="true"></i></span> | <i class="material-icons fullscreen">
                      unfold_less </i> </div>
                </div>
                <div class="formTitleHover">
                  <h4>{{'PRODUCT DETAILS' |translate}}
                    <div class="float-right"><i class="material-icons fullscreen"> close </i></div>
                  </h4>
                </div>
              </div>
              <div id="style-8" class="panel-body scrollbar">
                <div class="row force-overflow">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-5 col-form-label">{{'Product ID/Name' |translate}}<i class="red">*</i>
                      </label>
                      <div class="col-sm-7">
                        <i class="material-icons iIcon" data-toggle="tooltip" data-placement="top"
                          title="Search product to retrive data of product"> info </i>
                        <ng2-completer id="productIDName" name="productIDName" formControlName="productIDName"
                          [datasource]="productIDNameValues" [minSearchLength]="0"
                          (selected)="getSelected('productIDName')" placeholder="{{'Product ID/Name' |translate}}">
                        </ng2-completer>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-5 col-form-label">{{'Moq' |translate}} <span class="red">*</span>
                      </label>
                      <div class="col-sm-7">
                        <input name="moq" id="moq" formControlName="moq" required placeholder="{{'Moq' |translate}}"
                          class="form-control" type="text">
                      </div>
                    </div>
                    <div class="form-group row mt-4" *ngIf="rightImageAvailble">
                      <label class="col-sm-5 col-form-label">{{'Shipment Unit' |translate}}
                      </label>
                      <div class="col-sm-7 input-group">
                        <ng2-completer id="receivingUnit" formControlName="receivingUnit" name="receivingUnit"
                          [datasource]="receivingUnitValues" [minSearchLength]="0"
                          placeholder="{{'Shipment Unit' |translate}}">
                        </ng2-completer>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-5 col-form-label">{{'Brand' | translate}}
                      </label>
                      <div class="col-sm-5" style="width: 146px;">
                        <ng-multiselect-dropdown [placeholder]="'Select'" [settings]="dropdownSettings"
                          [data]="brandConfigureIDs" name="Sub-Category 1" formControlName="brandNames"
                          name="brandNames" placeholder="Brand Configurations">
                        </ng-multiselect-dropdown>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row" *ngIf="showImage">
                      <label for="" class="col-sm-4 col-form-label">{{'Product Image' |translate}}</label>
                      <div class="col-sm-8">
                        <img id="pLogo" style="width: 175px;height: 80px;border-radius: 10px;margin-top:8px;"
                          alt="No Image">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-5 col-form-label">{{'Lead Time' |translate}}
                      </label>
                      <div class="col-sm-7">
                        <input name="leadTime" id="leadTime" formControlName="leadTime"
                          placeholder="{{'Lead Time' |translate}}" class="form-control" type="text">
                        <!-- [readOnly]="isReadMode" -->
                      </div>
                    </div>
                    <div class="form-group row mt-4" *ngIf="leftImageAvailble">
                      <label class="col-sm-5 col-form-label">{{'Shipment Unit' |translate}}
                      </label>
                      <div class="col-sm-7 input-group">
                        <ng2-completer id="receivingUnit" formControlName="receivingUnit" name="receivingUnit"
                          [datasource]="receivingUnitValues" [minSearchLength]="0" placeholder="Shipment Unit">
                        </ng2-completer>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-5 col-form-label">{{'Markup' |translate}}</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control" name="markup" id="markup" formControlName="markup"
                          placeholder="{{'Markup' |translate}}" [readonly]="makeReadOnly">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-5 col-form-label">{{'Markup Type' |translate}}</label>
                      <div class="col-sm-7">
                        <select class="form-control" formControlName="markupType" name="markupType" id="markupType">
                          <option value=null>Select Markup Type</option>
                          <option value="Percentage">Percentage</option>
                          <option value="Amount">Amount</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group row">
              <div class="col-sm-12 text-right mb-3">
                <button class="btn btn-green mr-2" value="Save" [disabled]="productByCustomerForm.invalid"
                  (click)="save()">{{'Save' |translate}}</button>
                <button class="btn btn-white" value="Clear" (click)="clear()">{{'Clear' |translate}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="style-8" class="wmsDataTables" style="min-height:auto;overflow-y: hidden;">
          <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">
            <div class="dataTables_length" id="DataTables_Table_0_length">
              <label>Show <select [(ngModel)]="itemsPerPage" (change)="fetchAllProductsByCustomerID(page=1)" class=""
                  [ngModelOptions]="{standalone: true}">
                  <option>5</option>
                  <option>10</option>
                  <option>25</option>
                  <option>50</option>
                </select>
                Entries</label>
            </div>
            <div id="DataTables_Table_0_filter" class="dataTables_filter"><label>Search: <input type="text"
                  [(ngModel)]="searchKey" placeholder="Search..." [ngModelOptions]="{standalone: true}"
                  (keyup)="fetchAllProductsByCustomerID(page=1)"></label></div>
          </div>
          <table class="table table-striped">
            <thead>
              <tr>
                <td>{{'S No' |translate}}</td>
                <td scope="col">{{'Image' | translate}}</td>
                <td>{{'Customer ID' |translate}}</td>
                <td>{{'Customer Name' |translate}}</td>
                <td>{{'Customer Type' |translate}}</td>
                <td>{{'Product ID' |translate}}</td>
                <td>{{'Product Name' |translate}}</td>
                <td>{{'Brand Names' |translate}}</td>
                <td>{{'Lead Time' |translate}}</td>
                <td>{{'Moq' |translate}}</td>
                <td>{{'Markup' |translate}}</td>
                <td>{{'Markup Type' |translate}}</td>
                <td>{{'Action' |translate}}</td>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let i=index;let product of productsByCustomer.productMasterInfos | paginate: {id:'foo',itemsPerPage: itemsPerPage,currentPage: page,totalItems: totalItems}">
                <td>{{((page-1) * itemsPerPage)+i+1}}</td>
                <td *ngIf="product.productImageResource">
                  <div class="tooltip-container">
                    <img [src]="'data:image/jpg;base64,' + product.productImageResource" class="pImageIcon"
                      alt="No Preview available" (mouseover)="showTooltip = true" (mouseleave)="showTooltip = false">
                    <span *ngIf="showTooltip" class="tooltip-text">{{product.productName}}</span>
                  </div>
                </td>
                <td *ngIf="!product.productImageResource">
                  <div class="noImageIcon">
                    <p class="noImageIconText">
                      {{configService.getImageShortCut(product.productName)}}</p>
                  </div>
                </td>
                <th style="cursor:pointer" (click)="edit(productsByCustomer, product,'fromHtml')">
                  {{productsByCustomer.customerID}}</th>
                <td>{{productsByCustomer.customerName}}</td>
                <td>{{productsByCustomer.customerType}}</td>
                <td>{{product.productID}}</td>
                <td>{{product.productName}}</td>
                <td>{{product.brandNames}}</td>
                <td>{{product.leadTime}}</td>
                <td>{{product.moq}} {{product.receivingUnit}}</td>
                <td>{{product.markup}} </td>
                <td>{{product.markupType}}</td>
                <td><span class="btn btn-pink btn-sm"><i class="fa fa-trash btn-blue"
                      (click)="delete(productsByCustomer, product)"></i></span></td>
              </tr>
            </tbody>
          </table>
          <div class="row mt-2">
            <div class="col-md-12" style="text-align: end;">
              <pagination-controls class="pagi" id="foo" (pageChange)="fetchAllProductsByCustomerID((page = $event))">
              </pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>


<app-delete-popup [getInfo]="deleteInfo" (sendConfirmation)="getConfirmation($event)"></app-delete-popup>