.wmsDataTables {
    overflow-y: auto;
    display: block;
}

.wmsDataTables ::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: lightgray !important;
}

.wmsDataTables ::-webkit-scrollbar {
    border-radius: 5px;
    height: 10px;
    background-color: #ededfb !important;
}

.wmsDataTables ::-webkit-scrollbar-thumb {
    background-color: #ededfb !important;
    border-radius: 5px;
}
.e-ddl-icon{
    position: relative !important;
    left: 165px !important;
    top: -31px!important;
}