<div id="inBody" *ngIf="permissionsList.includes('View')" [dir]="direction">
  <div class="col-md-12">
    <div class="row" *ngIf="permissionsList.includes('Update')">
      <div class="col-md-12">
        <div class="udcBtns float-right">
          <a (click)="getFile()"><img src="assets/Export.png" title="Upload Excel" alt=""
              style="width: 25px;height: 23px;margin-right: 16px;">
            <input id="upfile" class="hidden" type="file" accept=".xlsx" (change)="uploadExcel($event)">
          </a>
          <a value="Log File" *ngIf="failureRecords.length > 0"><img src="assets/Log file 2.png" title="Log File" alt=""
              style="width: 25px;height: 23px;margin-right: 10px;" (click)="downloadLogFile()">
          </a>
          <a>
            <button type="button" value="Download Excel" (click)="exportAsXLSX()" title="Download Excel"
              style="background: none !important;border: none !important;">
              <img src="assets/Import.png" alt="" style="width: 25px;height: 23px;">
            </button>
          </a>
          <!-- <ul>
            <li (click)="getFile()"><a> <i class="material-icons align-middle"> open_in_browser
                </i>{{'Upload Excel' |translate}}<input id="upfile" class="hidden" type="file" accept=".xlsx"
                  (change)="uploadExcel($event)">
              </a>
            </li>
            <li value="Log File" *ngIf="failureRecords.length > 0"><a (click)="downloadLogFile()"> <i
                  class="material-icons align-middle"> description
                </i> Log File </a>
            </li>
            <li (click)="exportAsXLSX()"><a> <i class="material-icons align-middle"> get_app </i>{{'Download Excel' |translate}}</a>
            </li>
          </ul> -->
        </div>
      </div>
    </div>
    <form [formGroup]="columnForm">
      <div class="row">
        <div class="col-md-12">
          <div class="panel portlet">
            <div class="formBox portlet-title">
              <div class="row">
                <div class="panel-heading formTitle w-auto">
                  <h4>{{'COLUMN' |translate}}</h4>
                  <div class="float-right"><span class="clickable"><i class="fa fa-angle-up"
                        aria-hidden="true"></i></span> | <i class="material-icons fullscreen">
                      unfold_less </i> </div>
                </div>
                <div class="formTitleHover">
                  <h4>{{'COLUMN' |translate}}
                    <div class="float-right"><i class="material-icons fullscreen"> close </i></div>
                  </h4>
                </div>
              </div>
              <div id="style-8" class="panel-body ">
                <div class="row ">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-5 col-form-label">{{'Column' |translate}}<i class="red">*</i>
                      </label>
                      <div class="col-sm-7">
                        <input id="columnName" name="columnName" formControlName="columnName"
                          placeholder="{{'Column' |translate}}" [readonly]="isReadMode" class="form-control" type="text"
                          [readonly]="makeReadOnly">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-5 col-form-label">{{'Height' |translate}}
                      </label>
                      <div class="col-sm-7">
                        <input id="height" name="height" formControlName="height" placeholder="{{'Height' |translate}}"
                          class="form-control" type="text" [readonly]="makeReadOnly">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-5 col-form-label">{{'Width' |translate}}
                      </label>
                      <div class="col-sm-7">
                        <input id="width" name="width" formControlName="width" placeholder="{{'Width' |translate}}"
                          class="form-control" type="text" [readonly]="makeReadOnly">
                      </div>
                    </div>
                    <!-- <div class="form-group row">
                      <label class="col-sm-5 col-form-label">Sequence
                      </label>
                      <div class="col-sm-7">
                        <input id="sequence" name="sequence" formControlName="sequence" placeholder="Sequence"
                          class="form-control" type="text" [readonly]="makeReadOnly">
                      </div>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label"> </label>
              <div class="col-sm-8 text-right">
                <button class="btn btn-green mr-1" (click)="save()" [disabled]="columnForm.invalid">{{'Save'
                  |translate}}</button>
                <button class="btn btn-white" (click)="clear()">{{'Clear' |translate}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-md-12">
        <div id="scrolTable" class="wmsDataTables">
          <table id="example" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
            class="table table-striped d-table">
            <thead>
              <tr>
                <td scope="col">S.No</td>
                <td scope="col">{{'Column'|translate}}</td>
                <td scope="col">{{'Height' |translate}}</td>
                <td scope="col">{{'Width' |translate}}</td>
                <td>{{'Action' |translate}}</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let record of columns; let i = index">
                <td class="text-left">{{i+1}}</td>
                <th style="cursor: pointer;" (click)="edit(record)">{{record.columnName}}</th>
                <td>{{record.height}}</td>
                <td>{{record.width}}</td>
                <td><span class="btn btn-pink btn-sm"><i class="fa fa-trash btn-blue"
                      (click)="delete(record)"></i></span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<app-delete-popup [getInfo]="columnInfo" (sendConfirmation)="getConfirmation($event)"></app-delete-popup>