table,tr{
  padding:25px;
}
table{
  text-align: center!important;
  padding-left:18px;
  box-sizing: border-box!important;
  width: 100%!important;
}
table,tr,td{
  padding:24px!important;
}
.newButton
{
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

