<div id="inBody" *ngIf="permissionsList.includes('View')" [dir]="direction">
   <form #pickingStrategyForm="ngForm">
      <div class="col-md-12">
         <div class="row">
            <div class="col-md-12 " *ngIf="permissionsList.includes('Update')">
               <div class="udcBtns float-right">
                  <a (click)="getFile()"><img src="assets/Export.png" title="Upload Excel" alt=""
                        style="width: 25px;height: 23px;margin-right: 16px;">
                     <input id="upfile" #import (click)="import.value = null" class="hidden" type="file" accept=".xlsx"
                        (change)="uploadExcel($event)">
                  </a>
                  <a value="Log File" *ngIf="failureRecords.length > 0"><img src="assets/Log file 2.png"
                        title="Log File" alt="" style="width: 25px;height: 23px;margin-right: 10px;"
                        (click)="downloadLogFile()">
                  </a>
                  <a>
                     <button type="button" value="Download Excel" (click)="exportAsXLSX()" title="Download Excel"
                        style="background: none !important;border: none !important;">
                        <img src="assets/Import.png" alt="" style="width: 25px;height: 23px;">
                     </button>
                  </a>
                  <!-- <ul>
                   <button (click)="import.click()" class="custom-file-upload  btn btn-primary btn-sm">
                     <i class="fa fa-cloud-download" aria-hidden="true"></i></button> 
                  <li (click)="getFile()"><a> <i class="material-icons align-middle"> open_in_browser
                       </i>{{'Upload Excel' |translate}}<input id="upfile" #import (click)="import.value = null"  class="hidden" type="file" accept=".xlsx"
                         (change)="uploadExcel($event)">
                     </a>
                   </li>
                   <li value="Log File" *ngIf="failureRecords.length > 0"><a (click)="downloadLogFile()"> <i class="material-icons align-middle"> description
                   </i> Log File </a>
                 </li>
                   <li value="Download Excel" (click)="exportAsXLSX()"><a> <i class="material-icons align-middle"> get_app
                       </i>{{'Download Excel' |translate}}</a>
                   </li>
                 </ul> -->
               </div>
            </div>

            <div class="col-md-6">
               <div class="panel portlet">
                  <div class="formBox portlet-title">
                     <div class="row">
                        <div class="panel-heading formTitle">
                           <h4>{{'PICKING STRATEGY ATTRIBUTES' |translate}} </h4>
                           <div class="float-right"><span class="clickable"><i class="fa fa-angle-up"
                                    aria-hidden="true"></i></span> | <i class="material-icons fullscreen"> unfold_less
                              </i>
                           </div>
                        </div>

                        <div class="formTitleHover">
                           <h4>{{'PICKING STRATEGY ATTRIBUTES' |translate}}
                              <div class="float-right"><i class="material-icons fullscreen"> close </i></div>
                           </h4>
                        </div>

                     </div>
                     <div id="style-8" class="panel-body scrollbar">
                        <div class="row force-overflow">
                           <div class="col-md-6">
                              <div class="form-group row">
                                 <label class="col-sm-5 col-form-label">{{'Picking Strategy Name' |translate}}<i
                                       class="red">*</i>
                                 </label>
                                 <div class="col-sm-7">

                                    <input id="pickingStrategyName" name="pickingStrategyName"
                                       #pickingStrategyName="ngModel"
                                       [(ngModel)]="pickingStrategyData.pickingStrategyName"
                                       placeholder="{{'Picking Strategy Name' |translate}}" class="form-control ml-2"
                                       [ngClass]="{'valiError': shouldShowErrors(pickingStrategyName), 'valiSucess': shouldShowSuccess(pickingStrategyName)}"
                                       (focus)="onFocusForElement(pickingStrategyName)"
                                       (focusout)="onFocusOutForElement()" required value="" type="text"
                                       [readonly]="isReadMode" [readonly]="makeReadOnly">
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group row">
                                 <label class="col-sm-5 col-form-label">{{'Picking Strategy Type' |translate}}</label>
                                 <div class="col-sm-7">
                                    <select class="form-control" id="pickingStrategyType" name="pickingStrategyType"
                                       #pickingStrategyType="ngModel"
                                       [(ngModel)]="pickingStrategyData.pickingStrategyType"
                                       (ngModelChange)="onFocusForElement(zoneName)" (focusout)="onFocusOutForElement()"
                                       [disabled]="makeThisDisabled" [disabled]="makeThisDisabled">
                                       <option [ngValue]="null">--Select--</option>
                                       <option *ngFor="let type of pickingStrategyTypes" [ngValue]="type">
                                          {{type}}</option>
                                    </select>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-6">
               <div class="panel portlet">
                  <div class="formBox portlet-title">
                     <div class="row">
                        <div class="panel-heading formTitle">
                           <h4>{{'ZONE DETAILS' |translate}} </h4>
                           <div class="float-right"><span class="clickable"><i class="fa fa-angle-up"
                                    aria-hidden="true"></i></span> | <i class="material-icons fullscreen"> unfold_less
                              </i>
                           </div>
                        </div>
                        <div class="formTitleHover">
                           <h4>{{'ZONE DETAILS' |translate}}
                              <div class="float-right"><i class="material-icons fullscreen"> close </i></div>
                           </h4>
                        </div>
                     </div>
                     <div id="style-8" class="panel-body scrollbar">
                        <div class="row force-overflow">
                           <div class="col-md-6">
                              <div class="form-group row">
                                 <label class="col-sm-5 col-form-label">{{'Zone Name' |translate}}<i class="red">*</i>
                                 </label>
                                 <div class="col-sm-7">
                                    <i class="material-icons iIcon" data-toggle="tooltip" data-placement="top"
                                       title="Search zone to retrive data of zone"> info </i>
                                    <select class="form-control" id="zoneName" name="zoneName" #zoneName="ngModel"
                                       [(ngModel)]="pickingStrategyData.zoneInfo.zoneName"
                                       (ngModelChange)="getSelected('zone', $event); onFocusForElement(zoneName)"
                                       [ngClass]="{'valiError': shouldShowErrors(zoneName), 'valiSucess': shouldShowSuccess(zoneName)}"
                                       (focusout)="onFocusOutForElement()" required>
                                       <option [ngValue]="null">--Select--</option>
                                       <option *ngFor="let zone of zones" [ngValue]="zone.zoneName">
                                          {{zone.zoneName}}</option>
                                    </select>
                                 </div>
                              </div>
                           </div>
                           <div class="col-md-6">
                              <div class="form-group row">
                                 <label class="col-sm-5 col-form-label">{{'Sequence Number' |translate}}
                                 </label>
                                 <div class="col-sm-7">
                                    <input id="sequenceNumber" name="sequenceNumber" #sequenceNumber="ngModel"
                                       [(ngModel)]="pickingStrategyData.zoneInfo.sequenceNumber"
                                       placeholder="{{'Sequence Number' |translate}}" class="form-control"
                                       [ngClass]="{'valiError': shouldShowErrors(sequenceNumber), 'valiSucess': shouldShowSuccess(sequenceNumber)}"
                                       (focus)="onFocusForElement(sequenceNumber)" (focusout)="onFocusOutForElement()"
                                       value="" type="text" [readonly]="makeReadOnly">
                                 </div>
                              </div>

                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="col-md-12">
               <div class="form-group row">

                  <div class="col-sm-12 text-right mb-3">
                     <button class="btn btn-green mr-2" value="Save" (click)="save(pickingStrategyForm)"
                        [disabled]="pickingStrategyForm.invalid">{{'Save' |translate}}</button>
                     <button class="btn btn-white" value="Clear"
                        (click)="clearPickingyStrategyData(pickingStrategyForm)">{{'Clear' |translate}}</button>
                  </div>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12">
               <div id="scrolTable" class="wmsDataTables">
                  <table id="example" class="table table-striped d-table" datatable [dtOptions]="dtOptions"
                     [dtTrigger]="dtTrigger">
                     <thead>
                        <tr>
                           <td scope="col">{{'S.No' |translate}}</td>
                           <td scope="col">{{'Picking Strategy Name' |translate}}</td>
                           <td scope="col">{{'Picking Strategy Type' |translate}}</td>
                           <td scope="col">{{'Zone Name' |translate}}</td>
                           <td scope="col">{{'Sequence Number' |translate}}</td>
                           <td scope="col">{{'Action' |translate}}</td>
                        </tr>
                     </thead>
                     <tbody>
                        <tr *ngFor="let detail of pickingStrategiesWithZones; let i = index;">
                           <td class="text-left">{{i+1}}</td>
                           <th style="cursor: pointer" (click)="editPickingStrategyDetails(detail)">
                              {{detail.pickingStrategyName}}</th>
                           <td>{{detail.pickingStrategyType}}</td>
                           <td>{{detail.zoneName}}</td>
                           <td>{{detail.sequenceNumber}}</td>
                           <td><span _ngcontent-lty-c40="" class="btn btn-pink btn-sm"><i _ngcontent-lty-c40=""
                                    class="fa fa-trash btn-blue" (click)="delete(detail)"></i></span></td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </form>
</div>
<app-delete-popup [getInfo]="deleteInfo" (sendConfirmation)="getConfirmation($event)"></app-delete-popup>