<div id="createPassword"  *ngIf="!yesChangeTemplate">
  <div class="container">
    <div class="row ">
      <div class="col-md-11">
        <div class="loginDiv">
          <div class="row">
            <div class="col-md-3">
              <a>
                 <img src="assets/logo_white.png" width="100%" class="img-responsive" alt="" />
                </a>
              <div class="heading_left">
                <h6>Warehouse Management</h6>
              </div>
              <div class="heading_left_para">
                <p>{{loginPageText || defaultText}}</p>
              </div>
            </div>
            <div class="col-md-9">
              <div class="text-center serverText">
                <div class="serverError text-center mb-5">
                  <h1>SERVER ERROR !</h1>
                </div>
                <div class="text-center mt-3">
                  <h6>We're sorry, our systems are currently</h6>
                  <h6>unavailable Please try back later.</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>p
</div>


 <div id="ccscreatePassword" *ngIf="yesChangeTemplate">
  <div class="container">
    <div class="row ">
      <div class="col-md-11">
        <div class="ccsloginDiv">
          <div class="row">
            <div class="col-md-3">
              <a>
                <!--  <img src="assets/logo_white.png" width="100%" class="img-responsive" alt="" /> -->
                </a>
              <div class="heading_left">
              <!--   <h6>Warehouse Management System</h6> -->
              </div>
              <div class="heading_left_para">
              <!--   <p>{{loginPageText || defaultText}}</p> -->
              </div>
            </div>
            <div class="col-md-9">
              <div class="text-center ccsserverText">
                <div class="ccsserverError text-center mb-5">
                  <h1>SERVER ERROR !</h1>
                </div>
                <div class="text-center mt-3">
                  <h6>We're sorry, our systems are currently</h6>
                  <h6>unavailable Please try back later.</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
