.text-primary
{
    color: #00d0ff!important;
    font-weight: bolder;
}
.backgrounInboundDashboard{
  background-color: white;
  padding:10px;
  border-bottom-left-radius:50px;
  border-top-right-radius:50px;
}
