<div id="inBody">
 
      <div class="row" [dir]="direction">
        <div class="col-md-12 text-centr">
          <div class="backgrounInboundDashboard text-center">
            <ul style="position: relative;top:20px;" class="text-center">
              <li>
                <div class="custom-control custom-checkbox checkbox-xl">
                  <input type="radio" name="optradio" [checked]="radio1" (click)="getOrderType('Purchase Order')"
                    style="margin-left:-20px">
                  <span style="color:black;" class="ml-1">{{'Purchase Order' |translate}}</span>
                </div>
              </li>
              <li>
                <div class="custom-control custom-checkbox checkbox-xl">
                  <input type="radio" name="optradio" [checked]="radio2" (click)="getOrderType('WareHouseTransfer')"
                    style="margin-left:-20px">
                  <span style="color:black;" class="ml-1">{{'WarehouseTransfer' |translate}}</span>
                </div>
              </li>
              <li>
                <div class="custom-control custom-checkbox checkbox-xl">
                  <input type="radio" name="optradio" [checked]="radio3" (click)="getOrderType('Sales Returns')"
                    style="margin-left:-20px">
                  <span style="color:black;" class="ml-1">{{'Sales Returns' |translate}}</span>
                </div>
              </li>
              <li>
                <div class="custom-control custom-checkbox checkbox-xl">
                  <input type="radio" name="optradio" [checked]="radio3" (click)="getOrderType('WareHouseTransfer Returns')"
                    style="margin-left:-20px">
                  <span style="color:black;" class="ml-1">{{'WarehouseTransfer Returns' |translate}}</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" *ngIf="permissionsList.includes('View')">
          <div class="panel portlet">
            <div class="formBox portlet-title" style="border: 1px solid white;">
              <h6 class="text-center">{{'Pending Goods receiving'
                |translate}}</h6>
              <div id="style-8" class="panel-body scrollbar" style="height: 229px;">
                <div class="row">
                  <div class="col-md-12">
                    <h6 class="text-primary text-uppercase text-capitalize text-center"></h6>
                    <div class="alert alert-warning" *ngFor="let data of pendingGoodsReceivingList">
                      <table class="w-100 text-center">
                        <tr>
                          <td>{{data.wmpoNumber}}</td>
                          <td><span *ngIf="data.supplierMasterInfo">{{data.supplierMasterInfo?.supplierIDName}}</span>
                            <span *ngIf="data.customerMasterInfo">{{data.customerMasterInfo?.customerIDName}}</span>
                            <span
                              *ngIf="data.wareHouseTransferSourceInfo">{{data.wareHouseTransferSourceInfo.wareHouseIDName}}</span>
                          </td>
                          <td>{{data.eta | date}}</td>
                        </tr>
                        <tr>
                          <th>{{data.productMasterInfo?.productIDName}}</th>
                          <th>{{data.quantity | decimalwithThreeDigits}} {{data.receivingUnit}}</th>
                          <th class="text-danger">{{data.message}} <i class="fa fa-truck fa-flip-horizontal"
                              style="font-size: 15px;margin: 2px;"></i></th>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6" *ngIf="PendingProductLocationAllocation.includes('View')">
          <div class="panel portlet">
            <div class="formBox portlet-title" style="border: 1px solid white;">
              <h6 class="text-center">{{'Pending Products Location
                Allocation' |translate}}</h6>
              <div id="style-8" class="panel-body scrollbar" style="height: 229px;">
                <div class="row mt-4">
                  <div class="col-md-12 mt-4">
                    <h6 class="text-primary text-uppercase text-capitalize text-center"></h6>
                    <div class="alert alert-warning" *ngFor="let data of pendinglocationallocatedProductsList">
                      <table class="w-100 text-center">
                        <tr>
                          <td>{{data.wmpoNumber}}</td>
                          <td><span *ngIf="data.supplierMasterInfo">{{data.supplierMasterInfo?.supplierIDName}}</span>
                            <span *ngIf="data.customerMasterInfo">{{data.customerMasterInfo?.customerIDName}}</span>
                            <span
                              *ngIf="data.wareHouseTransferSourceInfo">{{data.wareHouseTransferSourceInfo.wareHouseIDName}}</span>
                          </td>

                          <td>{{data.grnDate | date}}</td>
                        </tr>
                        <tr>
                          <th>{{data.productMasterInfo?.productIDName}}</th>
                          <th>{{data.quantity | decimalwithThreeDigits}} {{data.receivingUnit}}</th>
                          <th class="text-danger">{{data.message}} <span class="material-icons " style="font-size: 16px;
                      margin: 0px 2px">other_houses</span></th>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" *ngIf="PendingPutawayList.includes('View')">
          <div class="panel portlet">
            <div class="formBox portlet-title" style="border: 1px solid white;margin-top: -11px;">
              <h6 class="text-center">{{'Pending Putaway List' |translate}}
              </h6>
              <div id="style-8" class="panel-body scrollbar" style="height: 229px;">
                <div class="row mt-4">
                  <div class="col-md-12 mt-4">
                    <h6 class="text-primary text-uppercase text-capitalize text-center"></h6>
                    <div class="alert alert-warning" *ngFor="let data of pendingPutawayResponseList">
                      <table class="w-100 text-center">
                        <tr>
                          <td>{{data.putawayNumber}}</td>
                          <td><span *ngIf="data.supplierMasterInfo">{{data.supplierMasterInfo?.supplierIDName}}</span>
                            <span *ngIf="data.customerMasterInfo">{{data.customerMasterInfo?.customerIDName}}</span>
                            <span
                              *ngIf="data.wareHouseTransferSourceInfo">{{data.wareHouseTransferSourceInfo.wareHouseIDName}}</span>
                          </td>

                          <td>{{data.createdDate | date}}</td>
                        </tr>
                        <tr>
                          <th>{{data.productMasterInfo?.productIDName}}</th>
                          <th>{{data.quantity | decimalwithThreeDigits}} {{data.inventoryUnit}}</th>
                          <th class="text-danger">{{data.message}} <span class="material-icons" style="font-size: 16px;
                      margin: 0px 2px">shopping_cart</span></th>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
 
</div>
