<form [formGroup]="kpiForm" *ngIf="configPermissionsList.includes('View')" [dir]="direction">
  <div id="inBody">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <div class="udcBtns">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group row mt-3">
            <label class="mt-1">{{'UserIdName:' |translate}}</label>
            <div class="col-sm-6 mb-3" formGroupName="userInfo">
              <ng2-completer formControlName="userIDName" name="userIDName" [datasource]="userIDNames"
              [minSearchLength]="0" placeholder="{{'Select User' |translate}}" (selected)="onSelectUser($event)">
            </ng2-completer>
            </div>
          </div>
        </div>
        <div class="col-md-3" [hidden]="yesAdmin">
          <div class="form-group row mt-3">
            <label class="mt-1">{{'Organization IdName:' |translate}}</label>
            <div class="col-sm-6 mb-3">
              <ng2-completer [(ngModel)]="childOrganizationDropdown" [ngModelOptions]="{standalone: true}" [datasource]="orgIDNames"
              [minSearchLength]="0" placeholder="{{'Select Organization' |translate}}" (selected)="onSelectOrg($event)">
            </ng2-completer>
            </div>
          </div>
        </div>
        <div class="col-md-3" [hidden]="yesAdmin">
          <div class="form-group row mt-3">
            <label class="mt-1">{{'Warehouse IdName:' |translate}}</label>
            <div class="col-sm-6 mb-3">
              <ng2-completer [(ngModel)]="childWareHouseDropdown" [ngModelOptions]="{standalone: true}" [datasource]="wareHouseIDNames"
              [minSearchLength]="0" placeholder="{{'Select Warehouse' |translate}}" (selected)="onSelectWareHouse($event)">
            </ng2-completer>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="wmsDataTables">
            <div class="col-md-12">
              <table class="table table-striped processGroup">
                <thead>
                  <tr>
                    <th scope="col">{{'PROCESS NAME' |translate}}</th>
                    <th>{{'KPI NAME' |translate}}</th>
                    <th>{{'ACTION' |translate}}<input type="checkbox" class="form-control" (click)="selectAllData($event,'isEnabled')"
                        [(ngModel)]="selectAllCheckboxValue" [ngModelOptions]="{standalone: true}"
                        [disabled]="permissionsList.length==0 || !configPermissionsList.includes('Update')"></th>
                    <th *ngIf="permissionsList.length>0 && !yesAdmin">PERMISSIONS<span *ngIf="permissionsList.includes('Update')">
                        <input type="checkbox" class="form-control" (click)="selectAllData($event,'Update')"
                         [disabled]="!configPermissionsList.includes('Update')"
                        [(ngModel)]="selectAllUpdateCheckBox" [ngModelOptions]="{standalone: true}">
                      </span></th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let functionality of functionalities;">
                    <ng-container *ngFor="let subFunctionality of functionality.subFunctionalities; let i = index">
                      <tr>
                        <td *ngIf="i=== 0;" [attr.rowspan]="functionality.subFunctionalities.length">
                          <span>{{functionality.name |translate}}</span>
                        </td>
                        <td>
                          <span>{{subFunctionality.name |translate}}</span>
                        </td>
                        <td>
                          <div class="custom-control custom-checkbox checkbox-xl" style="display: inline; margin: 0px;">
                            <input type="checkbox" [checked]="subFunctionality.isEnabled" [id]="subFunctionality.name"
                              name="functionality.name"
                              (change)="getCheckedReport(subFunctionality,subFunctionality.name, $event);isAllSelected('isEnabled')">
                            <label for="checkbox-3"></label>
                          </div>
                        </td>
                        <td *ngIf="permissionsList.length>0 && !yesAdmin"><span *ngIf="permissionsList.includes('View')"><input
                              type="checkbox" [checked]="subFunctionality.View" disabled>View</span> &nbsp;
                          <span *ngIf="permissionsList.includes('Update')"><input type="checkbox"
                              [checked]="subFunctionality.Update" [disabled]="!configPermissionsList.includes('Update') || !subFunctionality.View"
                              (click)="getCheckPermissions(subFunctionality.name, $event,'Update');isAllSelected('Update')">Update</span>
                        </td>
                      </tr>
                    </ng-container>
                  </ng-container>
                </tbody>
              </table>
            </div>
            <div class="col-md-12">
              <div class="form-group row mt-3">
                <div class="col-sm-12 text-center mb-3">
                  <button class="btn btn-green mr-1" (click)="update()" [disabled]="permissionsList.length==0">{{'Update' |translate}}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
