<form [formGroup]="resetPasswordForm" *ngIf="!yesChangeTemplate">
  <div id="createPassword">
    <div class="container">
      <div class="row ">
        <div class="col-md-11">
          <div class="loginDiv">
            <div class="row">
              <div class="col-md-3">
                <a> <img src="assets/logo_white.png" width="100%" class="img-responsive" alt="" /></a>
                <div class="heading_left">
                  <h6>Warehouse Management System</h6>
                </div>
                <div class="heading_left_para">
                  <p>{{loginPageText}}</p>
                </div>
              </div>
              <div class="col-md-9">
                <div class="create">
                  <h5 class=" NewPassword">
                    UPDATE PASSWORD
                  </h5>
                  <div class="float-right">
                    <div class="form-group row">
                      <label class="col-sm-5   col-form-label"> Old Password :<i class="red">*</i></label>
                      <div class="col-sm-7">
                        <input type="password" formControlName="password" class="form-control"
                          [ngClass]="{'valiError': shouldShowErrors('password', resetPasswordForm)}"
                          placeholder="Old Password" (focus)="onFocusForElement('password')"
                          (focusout)="onFocusOutForElement()">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-5 col-form-label"> New Password :<i class="red">*</i>
                      </label>
                      <div class="col-sm-7">
                        <input [type]="passwordType" formControlName="newPassword" class="form-control"
                          [ngClass]="{'valiError': shouldShowErrors('newPassword', resetPasswordForm)}"
                          placeholder="New Password" (focus)="onFocusForElement('password')"
                          (focusout)="onFocusOutForElement()">
                        <i class="fa fa-eye" id="showeye" title="Show Password" *ngIf="passwordType=='password'"
                          (click)="showPassword()"
                          style="cursor:pointer;color:grey;position:relative;left:143px;top:-24px;"></i>
                        <i class="fa fa-eye-slash" title="Hide Password" *ngIf="passwordType=='text'"
                          (click)="showPassword()"
                          style="cursor:pointer;color:grey;position:relative;left:143px;top:-24px;"></i>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-5 col-form-label" style="top: -18px;">Confirm Password :<i
                          class="red">*</i></label>
                      <div class="col-sm-7" style="top: -18px;">
                        <input [type]="passwordTypeC" formControlName="confirmPassword" class="form-control"
                          [ngClass]="{'valiError': shouldShowErrors('confirmPassword', resetPasswordForm)}"
                          placeholder="Confirm Password" (focus)="onFocusForElement('confirmPassword')"
                          (focusout)="onFocusOutForElement()">
                        <i class="fa fa-eye" id="showeye" title="Show Password" *ngIf="passwordTypeC=='password'"
                          (click)="showPasswordC()"
                          style="cursor:pointer;color:grey;position:relative;left:143px;top:-24px;"></i>
                        <i class="fa fa-eye-slash" title="Hide Password" *ngIf="passwordTypeC=='text'"
                          (click)="showPasswordC()"
                          style="cursor:pointer;color:grey;position:relative;left:143px;top:-24px;"></i>
                      </div>
                    </div>
                    <div>
                      <div class="text-center " style="margin-top: -60px;">
                        <button type="submit" class="btn btn-loginGreen" [disabled]="resetPasswordForm.invalid"
                          (click)="update()">Submit</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<form [formGroup]="resetPasswordForm" *ngIf="yesChangeTemplate">
  <div id="ccscreatePassword">
    <div class="container">
      <div class="row ">
        <div class="col-md-11">
          <div class="ccsloginDiv">
            <div class="row">
              <div class="col-md-3">
                <a> <!-- <img src="assets/logo_white.png" width="100%" class="img-responsive" alt="" /> --></a>
                <div class="heading_left">
                <!--   <h6>Warehouse Management System</h6> -->
                </div>
                <div class="heading_left_para">
              <!--     <p>{{loginPageText}}</p> -->
                </div>
              </div>
              <div class="col-md-9">
                <div class="create">
                  <h5 class=" NewPassword">
                    UPDATE PASSWORD
                  </h5>
                  <div class="float-right">
                    <div class="form-group row">
                      <label class="col-sm-5   col-form-label"> Old Password :<i class="red">*</i></label>
                      <div class="col-sm-7">
                        <input type="password" formControlName="password" class="form-control"
                          [ngClass]="{'valiError': shouldShowErrors('password', resetPasswordForm)}"
                          placeholder="Old Password" (focus)="onFocusForElement('password')"
                          (focusout)="onFocusOutForElement()">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-5 col-form-label"> New Password :<i class="red">*</i>
                      </label>
                      <div class="col-sm-7">
                        <input [type]="passwordType" formControlName="newPassword" class="form-control"
                          [ngClass]="{'valiError': shouldShowErrors('newPassword', resetPasswordForm)}"
                          placeholder="New Password" (focus)="onFocusForElement('password')"
                          (focusout)="onFocusOutForElement()">
                        <i class="fa fa-eye" id="showeye" title="Show Password" *ngIf="passwordType=='password'"
                          (click)="showPassword()"
                          style="cursor:pointer;color:grey;position:relative;left:143px;top:-24px;"></i>
                        <i class="fa fa-eye-slash" title="Hide Password" *ngIf="passwordType=='text'"
                          (click)="showPassword()"
                          style="cursor:pointer;color:grey;position:relative;left:143px;top:-24px;"></i>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-5 col-form-label" style="top: -18px;">Confirm Password :<i
                          class="red">*</i></label>
                      <div class="col-sm-7" style="top: -18px;">
                        <input [type]="passwordTypeC" formControlName="confirmPassword" class="form-control"
                          [ngClass]="{'valiError': shouldShowErrors('confirmPassword', resetPasswordForm)}"
                          placeholder="Confirm Password" (focus)="onFocusForElement('confirmPassword')"
                          (focusout)="onFocusOutForElement()">
                        <i class="fa fa-eye" id="showeye" title="Show Password" *ngIf="passwordTypeC=='password'"
                          (click)="showPasswordC()"
                          style="cursor:pointer;color:grey;position:relative;left:143px;top:-24px;"></i>
                        <i class="fa fa-eye-slash" title="Hide Password" *ngIf="passwordTypeC=='text'"
                          (click)="showPasswordC()"
                          style="cursor:pointer;color:grey;position:relative;left:143px;top:-24px;"></i>
                      </div>
                    </div>
                    <div>
                      <div class="text-center " style="margin-top: -60px;">
                        <button type="submit" class="btn btn-loginGreen" [disabled]="resetPasswordForm.invalid"
                          (click)="update()">Submit</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
