<div id="inBody" *ngIf="permissionsList.includes('View')" [dir]="direction">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3">
        <div class="udcBtns">
          <ul>
            <li (click)="createGRNCTA()"><a> <i class="material-icons align-middle"> description </i>{{'Create Goods
                Receiving' |translate}}</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4"></div>
      <div class="col-md-5 mt-2" *ngIf="permissionsList.includes('Update')">
        <div class="udcBtns float-right">
          <a (click)="upfile.click()"><img src="assets/Export.png" title="Upload Excel" alt=""
              style="width: 25px;height: 23px;margin-right: 16px;">
            <input id="upfile" #upfile (click)="upfile.value = null" value=""
              style="background: none !important;border: none !important;" class="hidden" type="file" accept=".xlsx"
              (change)="uploadExcel($event)">
          </a>
          <a value="Log File" *ngIf="failureRecords.length > 0"><img src="assets\Log file 2.png" title="Log File" alt=""
              style="width: 25px;height: 23px;margin-right: 10px;" (click)="downloadLogFile()">
          </a>
          <a>
            <button type="button" value="Download Excel" (click)="exportAsXLSX()" title="Download Excel"
              style="background: none !important;border: none !important;">
              <img src="assets\Import.png" alt="" style="width: 25px;height: 23px;">
            </button>
          </a>
        </div>
      </div>
    </div>
    <form #maintainGoodsReceiving="ngForm">
      <div class="row mt-3">
        <div class="col-md-12">
          <div class="top-input-label">
            <div class="row">
              <div class="col-md-2">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">{{'From' |translate}}
                  </label>
                  <div class="col-sm-7 top-input">
                    <input type="date" class="form-control" [(ngModel)]="grnDateFrom"
                      [ngModelOptions]="{standalone: true}" style="width:128px">
                  </div>
                </div>
              </div>
              <div class="col-md-2">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">{{'To' |translate}}
                  </label>
                  <div class="col-sm-7 top-input">
                    <input type="date" class="form-control" [(ngModel)]="grnDateTo"
                      [ngModelOptions]="{standalone: true}" style="width:128px">
                  </div>
                </div>
              </div>
              <!-- <div class="col-md-1">
                <div class="form-group row">
                  <select class="form-control" [(ngModel)]="status" [ngModelOptions]="{standalone: true}">
                    <option value="Open">Open</option>
                    <option value="Closed">Closed</option>
                    <option value="All">All</option>
                  </select>
                </div>
              </div> -->
              <div class="col-md-2">
                <div class="form-group row">
                  <div class="dsplInLine">
                    <select class="form-control" [disabled]="!permissionsList.includes('Update')"
                      [(ngModel)]="orderType" [ngModelOptions]="{standalone: true}">
                      <!--   <option [ngValue]=null>All</option> -->
                      <option *ngFor="let data of orderTypeDropdown">{{data}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-sm-2 col-form-label">Status</label>
                <div class="col-sm-10 mt-1">
                  <label class="radio-inline ml-2">
                    <input type="radio" value="All" class="m-1" [(ngModel)]="status" name="status">
                    All
                  </label>
                  <label class="radio-inline ml-2" style="color:grey">
                    <input type="radio" value="Open" class="m-1" [(ngModel)]="status" name="status">
                    Open
                  </label>
                  <label class="radio-inline ml-2" style="color:green">
                    <input type="radio" value="Closed" class="m-1" [(ngModel)]="status" name="status">
                    Closed
                  </label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group row">
                  <div class="col-sm-12 top-input">
                    <input type="button" class="btn btn-green" style="margin-right: 5px;" value="Filter"
                      (click)="filterDataFromDates()">
                    <input type="button" class="btn btn-white" value="Reset" (click)="reset()">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-md-12">
        <div id="style-8" class="wmsDataTables" style="min-height:auto;overflow-y: hidden;">
          <div class="row">
            <div class="col-md-0.5 pr-0">
              <label class="mt-1">Show</label>
            </div>
            <div class=""><select [(ngModel)]="headerItemsPerPage"
                (change)="fetchAllD(pageHeader=1,$event,'header')" class="form-control shortWidth" [ngModelOptions]="{standalone: true}">
                <option>5</option>
                <option>10</option>
                <option>25</option>
                <option>50</option>
              </select></div>
            <div class="col-md-1 mt-1"><label>Entries</label>
            </div>
            <div class="col-md-9"></div>
            <div class="col-md-1" style="left:-20px;">
              <input type="text" [(ngModel)]="headerSearchKey" placeholder="Search..."
                [ngModelOptions]="{standalone: true}" (keyup)="grnHeadersData(pageHeader=1);">
            </div>
          </div>
          <table id="style-8" class="table table-striped">
            <thead>
              <tr>
                <th>S.No<i class="fa fa-sort-asc" style="position: relative;
                  left: -7px;" aria-hidden="true"></i> <i class="fa fa-sort-desc" style="position: relative;
                    left: -7px;" aria-hidden="true"></i></th>
                <th [hidden]="grnManualUpload=='Yes'">{{'Include' |translate}}</th>
                <th>{{'WMPO Number' |translate}} <i class="fa fa-sort-asc"style="position: relative;
                  left: -7px;" (click)="setDirection('ASC','PO Number')" aria-hidden="true"></i> <i
                    class="fa fa-sort-desc" style="position: relative;
                      left: -7px;" aria-hidden="true" (click)="setDirection('DESC','PO Number')"></i></th>

                <th>{{'Customer/Supplier/Warehouse' |translate}} <i class="fa fa-sort-asc" style="position: relative;
                  left: -7px;"(click)="setDirection('ASC','Customer/Supplier/WareHouse')" aria-hidden="true"></i> <i
                    class="fa fa-sort-desc" style="position: relative;
                      left: -7px;" aria-hidden="true"
                    (click)="setDirection('DESC','Customer/Supplier/WareHouse')"></i>
                </th>
                <th [hidden]="thirdPartyCustomersCheckAllocation=='No'">{{'Customers Supplier Name' |translate}} <i
                    class="fa fa-sort-asc" style="position: relative;
                    left: -7px;" (click)="setDirection('ASC','Customers Supplier Name')"
                    aria-hidden="true"></i> <i class="fa fa-sort-desc" style="position: relative;
                      left: -7px;" aria-hidden="true"
                    (click)="setDirection('DESC','Customers Supplier Name')"></i>
                </th>

                <th [hidden]="thirdPartyCustomersCheckAllocation=='No'">{{'Customers Supplier Address' |translate}}<i
                    class="fa fa-sort-asc"style="position: relative;
                    left: -7px;" (click)="setDirection('ASC','Customers Supplier Address')"
                    aria-hidden="true"></i> <i class="fa fa-sort-desc" style="position: relative;
                      left: -7px;" aria-hidden="true"
                    (click)="setDirection('DESC','Customers Supplier Address')"> </i>
                </th>

                <th>{{'Receipt Type' |translate}} <i class="fa fa-sort-asc"style="position: relative;
                  left: -7px;"(click)="setDirection('ASC','Receipt Type')" aria-hidden="true"></i> <i
                    class="fa fa-sort-desc" style="position: relative;
                    left: -7px;" aria-hidden="true" (click)="setDirection('DESC','Receipt Type')"></i> </th>

                <th>{{'Receipt Date' |translate}} <i class="fa fa-sort-asc" style="position: relative;
                  left: -7px;" (click)="setDirection('ASC','Receipt Date')" aria-hidden="true"></i> <i
                    class="fa fa-sort-desc" style="position: relative;
                      left: -7px;" aria-hidden="true" (click)="setDirection('DESC','Receipt Date')"></i> </th>

                <th>{{'Closed By' |translate}} <i class="fa fa-sort-asc" style="position: relative;
                  left: -7px;" (click)="setDirection('ASC','Closed By')" aria-hidden="true"></i> <i
                    class="fa fa-sort-desc" style="position: relative;left: -7px;" 
                    aria-hidden="true" (click)="setDirection('DESC','Closed By')"></i> </th>

                <th>{{'Closed Date' |translate}} <i class="fa fa-sort-asc" style="position: relative;
                  left: -7px;"(click)="setDirection('ASC','Closed Date')" aria-hidden="true"></i> <i
                    class="fa fa-sort-desc" style="position: relative;left: -7px;" aria-hidden="true"
                     (click)="setDirection('DESC','Closed Date')"></i> </th>

                <th>{{'status' |translate}} <i class="fa fa-sort-asc" style="position: relative;
                  left: -7px;" (click)="setDirection('ASC','Status')"
                    aria-hidden="true"></i> <i class="fa fa-sort-desc" style="position: relative;
left: -7px;" aria-hidden="true" (click)="setDirection('DESC','Status')"></i> </th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let i=index;let receipt of grnData | paginate: {itemsPerPage: headerItemsPerPage,currentPage: pageHeader,totalItems: headerTotalItems}">
                <td>{{((pageHeader-1) * headerItemsPerPage)+i+1}}</td>
                <td [hidden]="grnManualUpload=='Yes'"><input type="checkbox" [checked]="receipt.isChecked"
                    (click)="read($event,receipt)" [(ngModel)]="receipt.isChecked" [ngModelOptions]="{standalone: true}"
                    [disabled]="receipt.status!='Open' || receipt.receivedType=='Manual'"></td>
                <th style="cursor:pointer" (click)="editGoodsReceipt(receipt._id)">
                  {{receipt.wmpoNumberPrefix}}{{receipt.wmpoNumber}}</th>
                <td><span *ngIf="receipt.supplierMasterInfo">{{receipt.supplierMasterInfo.supplierName}}</span>
                  <span 
                    *ngIf="receipt.wareHouseTransferSourceInfo">{{receipt.wareHouseTransferSourceInfo.wareHouseName}}</span>
                  <span *ngIf="receipt.customerMasterInfo">{{receipt.customerMasterInfo.customerName}}</span>
                </td>
                <td [hidden]="thirdPartyCustomersCheckAllocation=='No'">{{receipt.customersSupplierName}}</td>
                <td [hidden]="thirdPartyCustomersCheckAllocation=='No'">{{receipt.customersSupplierAddress}}</td>
                <td>{{receipt.receiptType}}</td>
                <td class="text-center">{{receipt.receiptDate | date: 'dd/MM/yyyy'}}</td>
                <td>{{receipt.closedBy}}</td>
                <td class="text-center">{{receipt.closedDate | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                <td [ngStyle]="{'color':(receipt.status=='Open') ?'grey':'green'}">{{receipt.status}}         
                  <span *ngIf="permissionsListForCart.includes('View')" 
                  class='material-icons' style="font-size: 20px;position: relative;top:7px;cursor:pointer" 
                  (click)="navigateToSch(receipt)">shopping_cart</span>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-md-12" style="text-align: end;">
              <pagination-controls class="pagi" (pageChange)="grnHeadersData((pageHeader = $event))">
              </pagination-controls>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!--  <div class="row">
      <div class="col-md-12 ">
        <div class="wmsDataTables">
          <table id="example" class="table table-striped d-table" datatable [dtOptions]="dtOptions"
            [dtTrigger]="dtTrigger">
            <thead>
              <tr>
                <th>#</th>
                <th>{{'PO Number' |translate}}</th>
                <th>{{'Supplier/Customer/Warehouse' |translate}}</th>
                <th [hidden]="thirdPartyCustomersCheckAllocation=='No'">{{'Suppliers Customer Name' |translate}}</th>
                <th [hidden]="thirdPartyCustomersCheckAllocation=='No'">{{'Suppliers Customer Address' |translate}}</th>
                <th>{{'Receipt Type' |translate}}</th>
                <th>{{'Receipt Date' |translate}}</th>
                <th>{{'Closed By' |translate}}</th>
                <th>{{'Closed Date' |translate}}</th>
                <th>{{'Status' |translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let receipt of filteredGoodsReceipts; let i = index;">
                <td class="text-left">{{i+1}}</td>
                <th style="cursor:pointer" (click)="editGoodsReceipt(receipt._id)">{{receipt.fullWmpoNumber}}</th>
                <td><span *ngIf="receipt.supplierMasterInfo">{{receipt.supplierMasterInfo.supplierName}}</span>
                  <span
                    *ngIf="receipt.wareHouseTransferSourceInfo">{{receipt.wareHouseTransferSourceInfo.wareHouseName}}</span>
                  <span *ngIf="receipt.customerMasterInfo">{{receipt.customerMasterInfo.customerName}}</span>
                </td>
                <td [hidden]="thirdPartyCustomersCheckAllocation=='No'">{{receipt.customersSupplierName}}</td>
                <td [hidden]="thirdPartyCustomersCheckAllocation=='No'">{{receipt.customersSupplierAddress}}</td>
                <td>{{receipt.receiptType}}</td>
                <td class="text-center">{{receipt.receiptDate | date: 'MM/dd/yyyy'}}</td>
                <td>{{receipt.closedBy}}</td>
                <td class="text-center">{{receipt.closedDate | date: 'MM/dd/yyyy HH:mm:ss'}}</td>
                <td>{{receipt.status}}</td>

              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div> -->
    <!-- <div class="row">
      <div class="col-md-12">
        <div class="wmsDataTables">
          <table id="example" class="table table-striped d-table" datatable [dtOptions]="dtOptions"
            [dtTrigger]="dtTrigger2">
            <thead>
              <tr>
                <th>#</th>
                <th>{{'PO Number' |translate}}</th>
                <th>{{'PO Line No' |translate}}</th>
                <th>{{'Product ID' |translate}}</th>
                <th>{{'Product Name' |translate}}</th>
                <th>{{'Product Description' |translate}}</th>
                <th>{{'UOM' |translate}}</th>
                <th>{{'Brand Name' |translate}}</th>
                <th>{{'Order Quantity' |translate}}</th>
                <th>{{'Total Supplier Received Quantity' |translate}}</th>
                <th>{{'Total Supplier Return Quantity' |translate}}</th>
                <th [hidden]="serialNumberAllocation=='No'">{{'Serial Number' |translate}}</th>
                <th>{{'GRN Date' |translate}}</th>
                <th>{{'ETA' |translate}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let receipt of filteredGoodsReceiptLines; let i = index;">
                <td class="text-left">{{i+1}}</td>
                <td>{{receipt.fullWmpoNumber}}</td>
                <td>{{receipt.poLineNumber}}</td>
                <td>{{receipt.productMasterInfo.productID}}</td>
                <td>{{receipt.productMasterInfo.productName}}</td>
                <td>{{receipt.productDescription}}</td>
                <td>{{receipt.receivingUnit}}</td>
                <td>{{receipt.brandName}}</td>
                <td>{{receipt.orderedQuantity | decimalFilter}}</td>
                <td><span *ngIf="receipt.totalReceivedQuantity">{{receipt.totalSupplierReceivedQuantity |
                    decimalFilter}}
                  </span></td>
                <td><span *ngIf="receipt.totalReturnQuantity">{{receipt.totalSupplierReturnQuantity | decimalFilter}}
                  </span></td>
                <td [hidden]="serialNumberAllocation=='No'">{{receipt.serialNumbers}}</td>
                <td class="text-center">{{receipt.grnDate | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                <td class="text-center">{{receipt.eta | date: 'dd/MM/yyyy'}}</td>  </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-md-12">
        <div id="style-8" class="wmsDataTables" style="min-height:auto;overflow-y: hidden;">
          <div class="row">
            <div class="col-md-0.5 pr-0">
              <label class="mt-1">Show</label>
            </div>
            <div class="" style="top:-10px"><select [(ngModel)]="itemsPerPage" (change)="fetchAllD(page=1,$event)"
                class="form-control shortWidth" [ngModelOptions]="{standalone: true}">
                <option>5</option>
                <option>10</option>
                <option>25</option>
                <option>50</option>
              </select></div>
              <div class="col-md-1 mt-1"><label>Entries</label>
            </div>
            <div class="col-md-9"></div>
            <div class="col-md-1" style="left:-20px;">
              <input type="text" [(ngModel)]="searchKey" placeholder="Search..." [ngModelOptions]="{standalone: true}"
                (keyup)="this.FetchAllGoodsReceipts(page=1, itemsPerPage);">
            </div>
          </div>
          <table id="style-8" class="table table-striped">
            <thead>
              <tr>
                <th>S.No</th>
                <th>Image</th>
                <th>{{'WMPO Number' |translate}}<i class="fa fa-sort-asc" style="position: relative;
                  left: -7px;" (click)="setDirection1('ASC','PO Number')"
                    aria-hidden="true"></i> <i class="fa fa-sort-desc" style="position: relative;
                    left: -7px;" aria-hidden="true" (click)="setDirection1('DESC','PO Number')"></i></th>
                <th>{{'WMPO Line No' |translate}}<i class="fa fa-sort-asc" style="position: relative;
                  left: -7px;" (click)="setDirection1('ASC','PO Line No')"
                    aria-hidden="true"></i> <i class="fa fa-sort-desc" style="position: relative;
                    left: -7px;" aria-hidden="true" (click)="setDirection1('DESC','PO Line No')"></i></th>
                <th>{{'Product ID' |translate}}<i class="fa fa-sort-asc" style="position: relative;
                  left: -7px;" (click)="setDirection1('ASC','Product ID')"
                    aria-hidden="true"></i> <i class="fa fa-sort-desc" style="position: relative;
                    left: -7px;" aria-hidden="true" (click)="setDirection1('DESC','Product ID')"></i></th>
                <th>{{'Product Name' |translate}}<i class="fa fa-sort-asc" style="position: relative;
                  left: -7px;" (click)="setDirection1('ASC','Product Name')"
                    aria-hidden="true"></i> <i class="fa fa-sort-desc" style="position: relative;
                    left: -7px;" aria-hidden="true" (click)="setDirection1('DESC','Product Name')"></i></th>
                <th>{{'Product Description' |translate}}<i class="fa fa-sort-asc" style="position: relative;
                  left: -7px;" (click)="setDirection1('ASC','Product Description')" aria-hidden="true"></i> <i
                    class="fa fa-sort-desc" style="position: relative;
                    left: -7px;" aria-hidden="true" (click)="setDirection1('DESC','Product Description')"></i></th>
                <th>{{'UOM' |translate}}<i class="fa fa-sort-asc" style="position: relative;
                  left: -7px;" (click)="setDirection1('ASC','UOM')"aria-hidden="true"></i> <i class="fa fa-sort-desc" style="position: relative;
                    left: -7px;" aria-hidden="true" (click)="setDirection1('DESC','UOM')"></i></th>
                <th>{{'Brand Name' |translate}}<i class="fa fa-sort-asc" style="position: relative;
                  left: -7px;" (click)="setDirection1('ASC','Brand Name')"
                    aria-hidden="true"></i> <i class="fa fa-sort-desc" style="position: relative;
                    left: -7px;" aria-hidden="true" (click)="setDirection1('DESC','Brand Name')"></i></th>
                <th>{{'Order Quantity' |translate}}<i class="fa fa-sort-asc" style="position: relative;
                  left: -7px;"(click)="setDirection1('ASC','Order Quantity')" aria-hidden="true"></i> <i class="fa fa-sort-desc"
                    style="position: relative;left: -7px;" aria-hidden="true" (click)="setDirection1('DESC','Order Quantity')"></i></th>
                <th>{{'Total Supplier Received Quantity' |translate}}<i class="fa fa-sort-asc" style="position: relative;
                  left: -7px;"(click)="setDirection1('ASC','Total Supplier Received Quantity')" aria-hidden="true"></i> <i
                    class="fa fa-sort-desc" style="position: relative;left: -7px;" aria-hidden="true"
                    (click)="setDirection1('DESC','Total Supplier Received Quantity')"></i></th>
                <th>{{'Total Supplier Return Quantity' |translate}}<i class="fa fa-sort-asc"
                  style="position: relative;left: -7px;"(click)="setDirection1('ASC','Total Supplier Return Quantity')" aria-hidden="true"></i> <i
                    class="fa fa-sort-desc" style="position: relative;left: -7px;" aria-hidden="true" (click)="setDirection1('DESC','Total Supplier Return Quantity')"></i>
                </th>
                <th [hidden]="serialNumberAllocation=='No'">{{'Serial Number' |translate}}<i class="fa fa-sort-asc" style="position: relative;
                  left: -7px;" (click)="setDirection1('ASC','Serial Number')" aria-hidden="true"></i> <i class="fa fa-sort-desc"
                    style="position: relative; left: -7px;" aria-hidden="true" (click)="setDirection1('DESC','Serial Number')"></i></th>
                <th>{{'GRN Date' |translate}}<i class="fa fa-sort-asc" style="position: relative;
                  left: -7px;"(click)="setDirection1('ASC','GRN Date')"aria-hidden="true"></i> <i class="fa fa-sort-desc" style="position: relative;
                    left: -7px;" aria-hidden="true" (click)="setDirection1('DESC','GRN Date')"></i></th>
                <th>{{'ETA' |translate}}<i class="fa fa-sort-asc" style="position: relative;
                  left: -7px;" (click)="setDirection1('ASC','ETA')"aria-hidden="true"></i> <i class="fa fa-sort-desc" style="position: relative;
                    left: -7px;" aria-hidden="true" (click)="setDirection1('DESC','ETA')"></i></th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let i=index;let receipt of filteredGoodsReceiptLines | paginate: {id:'foo',itemsPerPage: itemsPerPage,currentPage: page,totalItems: totalItems}">
                <td>{{((page-1) * itemsPerPage)+i+1}}</td>
                <td *ngIf="receipt.productImageResource">
                  <div class="tooltip-container">
                    <img [src]="'data:image/jpg;base64,' + receipt.productImageResource" class="pImageIcon"
                      alt="No Preview available" (mouseover)="showTooltip = true" (mouseleave)="showTooltip = false">
                    <span *ngIf="showTooltip" class="tooltip-text">{{receipt.productMasterInfo.productName}}</span>
                  </div>
                </td>
                <td *ngIf="!receipt.productImageResource">
                  <div class="noImageIcon">
                    <p class="noImageIconText">
                      {{configService.getImageShortCut(receipt.productMasterInfo.productName)}}</p>
                  </div>
                </td>
                <td>{{receipt.fullWmpoNumber}}</td>
                <td>{{receipt.poLineNumber}}</td>
                <td>{{receipt.productMasterInfo.productID}}</td>
                <td>{{receipt.productMasterInfo.productName}}</td>
                <td>{{receipt.productDescription}}</td>
                <td>{{receipt.receivingUnit}}</td>
                <td>{{receipt.brandName}}</td>
                <td>{{receipt.orderedQuantity | decimalFilter}}</td>
                <td><span *ngIf="receipt.totalReceivedQuantity">{{receipt.totalSupplierReceivedQuantity |
                    decimalFilter}}
                  </span></td>
                <td><span *ngIf="receipt.totalReturnQuantity">{{receipt.totalSupplierReturnQuantity | decimalFilter}}
                  </span></td>
                <td [hidden]="serialNumberAllocation=='No'">{{receipt.serialNumbers}}</td>
                <td class="text-center">{{receipt.grnDate | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                <td class="text-center">{{receipt.eta | date: 'dd/MM/yyyy'}}</td>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-md-12" style="text-align: end;">
              <pagination-controls class="pagi" id="foo" (pageChange)="FetchAllGoodsReceipts((page = $event))">
              </pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>