#yourParagraphId {
    display: none; /* Hide the paragraph by default */
  }
  .e-input-group-icon e-ddl-icon .e-search-icon{
    position: relative!important;
    left: 27px!important;
  }
.e-ddl-icon{
    position: relative!important;
    left: -18px!important;
  }